.formEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    margin-top: 0.5rem;
}

.formEdit .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.formEdit input {
    height: 2.1rem;
    width: 15.5rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(209, 209, 209);
    font-size: 15px;
    outline: none;
}

.formEdit label {
    font-weight: bold;
    font-size: 15px;
    width: 16rem;
    text-align: start;
}
.formEdit p {
    color: red;
    position: absolute;
    top: 3rem;
    font-size: 14px;
}

.formEdit .save,
.formEdit .saveDisabled {
    background: rgb(35, 157, 187);
    border-radius: 5px;
    box-shadow: none;
    width: 16rem;
    height: 2rem;
    color: white;
    margin: 1rem 0 0 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.formEdit .saveDisabled {
    opacity: 84%;
    cursor: alias;
}
.formEdit .save:hover {
    background: rgb(28, 129, 155);
}

.formEdit .saveDisabled:hover {
    background: rgb(35, 157, 187);
}

@media (width<650px) {
    .formEdit input {
        height: 2.5rem;
        width: 16.5rem;
    }

    .formEdit label {
        font-weight: bold;
        font-size: 15px;
        width: 16rem;
        text-align: start;
    }
    .formEdit p {
        color: red;
        position: absolute;
        top: 3.7rem;
        font-size: 12px;
    }
}

@media (width>650px) and (width<1200px) {
    .formEdit {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8rem;
        margin-top: 0.5rem;
    }

    .formEdit .columnInput {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
        position: relative;
    }

    .formEdit input {
        height: 2.1rem;
        width: 15.5rem;
        padding-left: 0.5rem;
        border-radius: 3px;
        border: 1px solid rgb(209, 209, 209);
        font-size: 15px;
        outline: none;
    }

    .formEdit label {
        font-weight: bold;
        font-size: 15px;
        width: 16rem;
        text-align: start;
    }
    .formEdit p {
        color: red;
        position: absolute;
        top: 3.3rem;
        font-size: 13px;
    }

    .formEdit .save,
    .formEdit .saveDisabled {
        background: rgb(35, 157, 187);
        border-radius: 5px;
        box-shadow: none;
        width: 16rem;
        height: 2rem;
        color: white;
        margin: 1rem 0 0 0;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    .formEdit .saveDisabled {
        opacity: 84%;
        cursor: alias;
    }
    .formEdit .save:hover {
        background: rgb(28, 129, 155);
    }

    .formEdit .saveDisabled:hover {
        background: rgb(35, 157, 187);
    }
}
