.containDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    margin-top: 0.5rem;
    background: linear-gradient(#2e3453, #313e7a);
    box-shadow:
        rgb(37, 37, 37) 2px 1px 2px 0px,
        rgb(37, 37, 37) 2px 1px 3px 1px;
}

.containDetails p {
    width: 98%;
    margin: 0.7rem;
    margin-top: 0.5rem;
    font-size: 13px;
}

.containDetails p a {
    text-decoration: none;
}

.containDetails .containReferences {
    width: 97%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    gap: 1rem;
}

.containDetails .containReferences span {
    margin-top: 0;
}

.containDetails .containOptionsQuiz {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 99%;
    padding-bottom: 0.5rem;
    padding-left: 1%;
    gap: 1rem;
    width: 99%;
    font-size: 15px;
}

.containDetails .containOptionsQuiz button {
    color: white;
    border-radius: 4px;
    border: none;
    height: 1.9rem;
    width: auto;
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(24, 24, 24);
}

.containDetails .containOptionsQuiz button:hover {
    box-shadow: none;
}

.containDetails .containOptionsQuiz .btnAddQuiz {
    background-color: rgb(51, 207, 77);
}

.containDetails .containOptionsQuiz .btnListQuizes {
    background-color: rgb(30, 147, 182);
}

.containDetails .containOptionsQuiz button img {
    width: 19px;
    height: 19px;
}

@media (width<=650px) {
    .containDetails {
        width: 98%;
    }
    .containDetails .containOptionsQuiz {
        width: 100%;
        padding-left: 2%;
    }
    .containDetails .containOptionsQuiz .btnAddQuiz {
        width: 11rem;
    }
}

@media (width>650px) and (width<=1000px) {
    .containDetails {
        width: 97%;
    }
}
