.containDetailsIndication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 17vw;
    height: 5rem;
    background: linear-gradient(rgb(219, 219, 219), rgb(201, 201, 201));
    border-top-right-radius: 9px;
    border-bottom-right-radius: 29px;
    box-shadow: 2px 2px 2px rgb(100, 100, 100);
    margin-bottom: 1vh;
}

.detailsIndication {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgb(55, 59, 107);
    background: linear-gradient(rgb(210, 238, 252), white);
    border-top-right-radius: 9px;
    border-bottom-right-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 96%;
    height: 89%;
}
.detailsIndication a {
    font-weight: bold;
}

@media (width<=650px) {
    .containDetailsIndication {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 55vw;
        height: 3.6rem;
        background: linear-gradient(rgb(212, 212, 212), rgb(241, 241, 241));
        border-top-right-radius: 9px;
        border-bottom-right-radius: 29px;
        box-shadow: 2px 2px 2px rgb(100, 100, 100);
        margin-bottom: 1vh;
    }

    .detailsIndication {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
        color: rgb(55, 59, 107);
        background: linear-gradient(rgb(210, 238, 252), white);
        border-top-right-radius: 9px;
        border-bottom-right-radius: 29px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        width: 96%;
        height: 89%;
    }
}

@media (width>650px) and (width<1200px) {
    .containDetailsIndication {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 27vw;
        height: 4rem;
        background: linear-gradient(rgb(219, 219, 219), rgb(201, 201, 201));
        border-top-right-radius: 9px;
        border-bottom-right-radius: 29px;
        box-shadow: 2px 2px 2px rgb(100, 100, 100);
        margin-bottom: 1vh;
    }
    .detailsIndication {
        font-size: 15px;
    }
}
