.zoneInfo {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 14px;
    background: linear-gradient(#333f7c, #222c57);
    color: white;
    border-radius: 99px;
}

.zoneInfo .detailsWarning {
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.2rem;
}

.zoneInfo .detailsWarning span {
    font-weight: bold;
    padding-left: 1rem;
}

.zoneInfo .detailsWarning p {
    width: auto;
    padding-left: 0.2rem;
    margin: 0;
    text-align: center;
}

@media (width<=650px) {
    .zoneInfo {
        background: linear-gradient(#4659b9, #202c5e);
    }

    .zoneInfo .detailsWarning {
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.2rem;
    }

    .zoneInfo .detailsWarning span {
        font-weight: bold;
        padding-left: 1rem;
    }

    .zoneInfo .detailsWarning p {
        width: auto;
        padding-left: 0.2rem;
        margin: 0;
        text-align: center;
    }
}

@media (width>650px) and (width<1200px) {
    .zoneInfo {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: 14px;
        background: linear-gradient(#4659b9, #202c5e);
        color: white;
        border-radius: 99px;
    }
}
