.zoneInfo {
    width: auto;
    min-width: 3.4rem;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 14px;
    background: linear-gradient(rgb(240, 240, 240), rgb(207, 207, 207));
    box-shadow: 2px 2px 2px gray;
    border-radius: 99px;
    color: rgb(55, 59, 107);
}
.content {
    width: 88%;
    height: 88%;
    border-radius: 99px;
    background: linear-gradient(rgb(188, 216, 229), rgb(238, 244, 253));
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoneInfo:hover {
    box-shadow: none;
}

.zoneInfo .detailsWarning {
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    text-wrap: nowrap;
    gap: 0.2rem;
    padding-right: 1rem;
}

.zoneInfo .detailsWarning span {
    font-weight: bold;
}

.zoneInfo .detailsWarning p {
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
}

@media (width<=650px) {
    .zoneInfo .detailsWarning {
        text-wrap: wrap;
    }
}

@media (width>650px) and (width<1200px) {
    .zoneInfo {
        width: auto;
        min-width: 3.4rem;
        height: 3.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: 14px;
        background: linear-gradient(rgb(240, 240, 240), rgb(207, 207, 207));
        box-shadow: 2px 2px 2px gray;
        border-radius: 99px;
        color: rgb(55, 59, 107);
    }
    .content {
        width: 88%;
        height: 88%;
        border-radius: 99px;
        background: linear-gradient(rgb(188, 216, 229), rgb(238, 244, 253));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .zoneInfo:hover {
        box-shadow: none;
    }

    .zoneInfo .detailsWarning {
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        text-wrap: nowrap;
        gap: 0.2rem;
        padding-right: 1rem;
    }

    .zoneInfo .detailsWarning span {
        font-weight: bold;
    }

    .zoneInfo .detailsWarning p {
        width: auto;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
