.containChart {
    width: 96%;
    height: auto;
    background: linear-gradient(#2c3d8a, #5a6fcf);
    box-shadow: 2px 2px 2px rgb(19, 19, 19);
    border-radius: 5px;
    padding: 0.3rem;
    font-size: 14px;
    position: relative;
}

.loading {
    color: white;
    height: 4rem;
}

.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.noData img {
    width: 45px;
    height: 45px;
    opacity: 55%;
}

@media (width<=650px) {
    .containChart {
        width: 87%;
        height: auto;
        margin-right: 9vw;
    }
}
