.containChart {
    width: 81%;
    height: auto;
    padding: 0.3rem;
    font-size: 14px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 5px;
    background: linear-gradient(#456bd4, #20419c);
}

.containChart {
    width: 81%;
    height: auto;
    padding: 0.3rem;
    font-size: 14px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 5px;
    background: linear-gradient(#456bd4, #20419c);
}

.loading {
    color: white;
    height: 4rem;
}

.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.noData img {
    width: 45px;
    height: 45px;
    opacity: 55%;
}
