.rating {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 0.7rem;
    font-size: 13px;
    width: 98%;
}

.rating .stars {
    width: 81px;
    height: 18px;
}

.rating .row,
.rating .rowTwo,
.rating .rowTwo .data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.rating .rowTwo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 98%;
}

.rating .wheelchair {
    width: 14px;
    height: 14px;
}

.rating .rowTwo .data {
    justify-content: start;
    width: 85%;
    gap: 0.3rem;
}


