.containDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    width: 96%;
    height: auto;
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    background: linear-gradient(#2e3453, #313e7a);
}

.containDetails p {
    width: 98%;
    font-size: 12px;
    margin: 0.7rem;
    margin-top: 0.5rem;
}

.containDetails p a {
    color: rgb(67, 169, 216);
    text-decoration: none;
}

.containDetails p a:hover {
    color: rgb(67, 169, 216);
    text-decoration: underline;
}

.containDetails .containReferences {
    width: 97%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    gap: 1rem;
}

.containDetails .containReferences span {
    margin-top: 0;
}

.containDetails .rowSearcher {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

@media (width<=650px) {
    .containDetails {
        color: black;
        border-top: 1px solid rgb(224, 224, 224);
        border-bottom: 1px solid rgb(224, 224, 224);
        box-shadow: none;
        background: rgb(241, 241, 241);
    }
    .containDetails .rowSearcher {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 0;
        width: 100%;
    }
}

@media (width>650px) and (width<1200px) {
    .containDetails {
        color: black;
        border-top: 1px solid rgb(224, 224, 224);
        border-bottom: 1px solid rgb(224, 224, 224);
        box-shadow: none;
        background: rgb(241, 241, 241);
    }
}
