.containDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    width: 96%;
    height: auto;
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    background: linear-gradient(#2e3453, #313e7a);
}

.containDetails p {
    width: 98%;
    font-size: 12px;
    margin: 0.5rem 0.7rem 0.7rem 0.7rem;
}

.containDetails p a {
    color: rgb(67, 169, 216);
    text-decoration: none;
}

.containDetails p a:hover {
    color: rgb(67, 169, 216);
    text-decoration: underline;
    cursor: pointer;
}

.containDetails .author {
    width: 98%;
    font-weight: bold;
    margin: -0.5rem 0 0 0;
    padding: 0;
    font-size: 11px;
}
.containDetails .author a {
    color: white;
}

.containDetails .rowSearcher,
.containDetails .rowYears {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.containDetails .rowSearcher {
    margin-top: 0.5rem;
}

.containDetails .rowYears .btnIncrease {
    width: 8%;
    height: 2rem;
    border-radius: 4px;
    background-color: #37b8b1;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px rgb(49, 49, 49);
}

.containDetails .rowYears .btnIncrease:hover {
    box-shadow: none;
}

.containDetails .rowYears .btnIncrease img {
    width: 33px;
    height: 33px;
}

@media (width<=650px) {
    .containDetails {
        color: black;
        border-top: 1px solid rgb(224, 224, 224);
        border-bottom: 1px solid rgb(224, 224, 224);
        box-shadow: none;
        background: rgb(241, 241, 241);
    }
    .containDetails .rowSearcher {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 0;
        width: 100%;
    }
    .containDetails .author {
        width: 98%;
        font-weight: bold;
        margin: -0.5rem 0 0 0;
        padding: 0;
        font-size: 11px;
    }
    .containDetails .author a {
        color: black;
    }

    .containDetails .rowYears .btnIncrease {
        width: 12%;
        height: 2rem;
        margin-top: 0.5rem;
        box-shadow: 2px 2px 2px rgb(180, 180, 180);
    }

    .containDetails .rowYears .btnIncrease img {
        width: 33px;
        height: 33px;
    }
}

@media (width>650px) and (width<1200px) {
    .containDetails {
        color: black;
        border-top: 1px solid rgb(224, 224, 224);
        border-bottom: 1px solid rgb(224, 224, 224);
        box-shadow: none;
        background: rgb(241, 241, 241);
    }

    .containDetails .author a {
        color: black;
    }
    .containDetails .rowYears .btnIncrease {
        width: 3rem;
        height: 2rem;
        border-radius: 4px;
        background-color: #37b8b1;
        color: white;
        border: none;
        box-shadow: 2px 2px 2px rgb(180, 180, 180);
    }
    .containDetails .rowYears .btnIncrease img {
        width: 33px;
        height: 33px;
    }
}
