.containAdd {
    width: 38%;
    height: 52%;
    background: white;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containAdd .close {
    position: absolute;
    right: 0;
    width: 3.6rem;
    height: 1.8rem;
    background: rgb(189, 14, 14);
    font-size: 13px;
    font-weight: bold;
    color: white;
    box-shadow: none;
    margin: 0;
}
.containAdd .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 15px;
    margin-top: 1.5rem;
}

.containAdd .backgroundIcon {
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    background: rgb(48, 214, 48);
}

.containAdd .title img {
    width: 31px;
    height: 31px;
    margin: 0;
}

.containAdd form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    margin-top: 0.5rem;
}

.containAdd form .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.containAdd form input {
    height: 1.8rem;
    width: 15.5rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid gray;
    font-size: 15px;
    outline: none;
}

.containAdd form label {
    font-weight: bold;
    font-size: 15px;
    width: 16rem;
    text-align: start;
}
.containAdd form p {
    color: red;
    position: absolute;
    top: 3rem;
    font-size: 14px;
}

.containAdd form .add {
    background: rgb(34, 207, 63);
    border-radius: 5px;
    box-shadow: none;
    width: 16rem;
    height: 2rem;
    color: white;
    margin: 1rem 0 0 0;
    font-size: 15px;
    font-weight: bold;
}

.containAdd form .add:hover {
    background: rgb(41, 167, 25);
}
