form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

form .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

form input,
form select {
    height: 2.1rem;
    width: 16rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    font-size: 15px;
    outline: none;
}

form input[type="file"] {
    display: none;
}

form select {
    height: 2.2rem;
    width: 16.5rem;
    border: 1px solid rgb(199, 199, 199);
    background: linear-gradient(rgb(236, 236, 236), rgb(219, 219, 219));
}

form .btnUpload {
    background: rgb(36, 52, 70);
    color: white;
    width: 100%;
    height: 2rem;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

form .btnUpload:hover {
    background: rgb(45, 64, 87);
}
form .btnUpload img {
    width: 19px;
    height: 19px;
}

form label {
    font-weight: bold;
    font-size: 15px;
    width: 16rem;
    text-align: start;
}
form p {
    color: red;
    position: absolute;
    top: 3rem;
    font-size: 13px;
}

form .add,
form .addDisabled {
    background: rgb(34, 207, 63);
    border-radius: 5px;
    box-shadow: none;
    min-width: 16rem;
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 2rem;
    color: white;
    margin: 2rem 0 0 0;
    font-size: 15px;
    font-weight: bold;
}
form .add:hover {
    background: rgb(30, 184, 55);
}

form .addDisabled {
    background: rgba(34, 207, 63, 0.747);
}
form .addDisabled:hover {
    background: rgba(34, 207, 63, 0.747);
    cursor: auto;
}
