.advice {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    height: 2.3rem;
    padding: 0.5rem;
    width: 99%;
    background: none;
    color: white;
}

.advice p {
    width: 99%;
}

.advice img {
    width: 25px;
    height: 25px;
}

@media (width<=650px) {
    .advice {
        font-size: 15px;
        margin-top: 0.5rem;
        color: rgb(41, 41, 41);
    }
}

@media (width>650px) and (width<1200px) {
    .advice {
        font-size: 16px;
        margin-top: 0.5rem;
        color: rgb(41, 41, 41);
    }
}
