.pac-container {
  width: 22.2rem !important;
  left: 1.5rem !important;
  margin-top: 0.5rem !important;
  border-radius: 5px;
  box-shadow: none;
}

.pac-item {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

.pac-item:hover {
  background-color: #f0f0f0;
}

.pac-item-query {
  font-weight: bold;
  color: #333;
}

.autocompleteContainer {
  margin-top: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
  width: auto;
  padding: 0.6rem;
}

.autocompleteContainer input {
  width: 14rem;
  height: 3rem;
  border: none;
  box-shadow: 2px 2px 2px gray;
  border-radius: 95px;
  padding: 0 5rem 0 2.6rem;
  position: relative;
  z-index: 3;
  outline: none;
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-image: url("../../../assets/img/destinyAddress.png");
  background-repeat: no-repeat;
  background-size: 21px;
  background-position-y: 0.9rem;
  background-position-x: 0.9rem;
}

.autocompleteContainer input::placeholder {
  color: rgb(124, 124, 124);
}

.autocompleteContainer .inputFocus {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: none;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.autocompleteContainer .showClose,
.autocompleteContainer .showSearch {
  position: absolute;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  margin-left: 19rem;
  width: auto;
  height: 2.6rem;
  color: white;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.autocompleteContainer .hideClose {
  display: none;
}

.autocompleteContainer .showSearch {
  margin-left: 15rem;
}
.autocompleteContainer .hideSearch {
  display: none;
}

.autocompleteContainer button img {
  width: 21px;
  height: 21px;
}

.loader {
  width: 23px;
  height: 23px;
  border: 5px solid #fff;
  border-bottom-color: #278cc7;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  margin-left: 18.5rem;
  z-index: 5;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.suggestions {
  display: flex;
  padding: 0;
  margin-top: -0.7rem;
  margin-left: 0.7rem;
  width: 21.5rem;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: white;
  border-top: 1px solid rgb(184, 184, 184);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.suggestions li {
  padding: 1rem 0 1rem 1rem;
  font-size: 14px;
  text-align: start;
  width: 96%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.suggestions li img {
  width: 15px;
  height: 15px;
}

.suggestions li p {
  padding: 0;
  margin: 0;
  width: 99%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.suggestions li:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

@media (width<=700px) {
  .pac-container {
    left: 0 !important;
  }
}
