.notData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}
.notData span {
    width: 75%;
    text-align: center;
}

.notData img {
    width: 55px;
    height: 55px;
    opacity: 55%;
    margin-right: 0.4rem;
}
