.columnInput {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.columnInput input {
    width: 100%;
    height: 2.2rem;
    border: 1px solid rgb(228, 227, 227);
}

.columnInput .containerRegex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 0.5rem;
    width: 82%;
}

.columnInput p {
    position: absolute;
    top: 3.2rem;
    font-size: 12px;
}

.columnInput .containerRegex p {
    width: auto;
    color: rgb(33, 33, 51);
    font-size: 13px;
    margin: 0;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.columnInput .containerRegex .invalid {
    color: red;
}

.columnInput .containerRegex .invalid img {
    width: 13px;
    height: 13px;
}

.columnInput .containerRegex .valid {
    color: rgb(52, 204, 38);
}

.columnInput .containerRegex .valid img {
    width: 15px;
    height: 15px;
}
