.columnShowRoutes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 95%;
    padding: 1rem;
    margin-top: -0.5rem;
    background: linear-gradient(#1b2450, #243064);
    box-shadow: 2px 2px 2px black;
    height: auto;
}

.enterAdresses {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: auto;
}

.destination {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 45%;
    gap: 0.5rem;
}

.enterAdresses .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 99%;
}

.enterAdresses label {
    margin: 0.5rem 0 0 2.2rem;
    color: white;
}

.enterAdresses input {
    width: 99%;
    height: 2.4rem;
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 15px;
    border: 1px solid rgb(182, 182, 182);
    outline: none;
}

.enterAdresses .btnEnabled,
.enterAdresses .btnDisabled {
    margin-top: 2.2rem;
    width: 9rem;
    height: 2.2rem;
    border-radius: 56px;
    background: rgb(58, 120, 212);
    color: white;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.enterAdresses .btnDisabled {
    background: rgb(182, 182, 182);
    cursor: auto;
}

.enterAdresses.btnEnabled:hover {
    background: rgb(38, 92, 172);
}

.enterAdresses button img {
    width: 25px;
    height: 25px;
}

.enterAdresses img {
    width: 23px;
    height: 23px;
}

.containLoaderRoutes {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    color: white;
}

.loaderRoutes {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #3283c5;
    border-bottom: none;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (width<=650px) {
    .columnShowRoutes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 95%;
        height: auto;
        padding: 0 0 0.5rem 0;
        margin-top: -0.9rem;
        background: none;
        box-shadow: none;
    }

    .enterAdresses {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        color: black;
    }
    .enterAdresses label {
        margin: 0.5rem 0 0 2.2rem;
        color: rgb(2, 2, 2);
    }

    .enterAdresses input {
        background: rgb(233, 237, 255);
    }

    .destination {
        width: 99%;
        gap: 0.5rem;
    }

    .enterAdresses .row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 99%;
    }

    .enterAdresses .btnEnabled,
    .enterAdresses .btnDisabled {
        margin-top: 1rem;
    }
}

@media (width>650px) and (width<1000px) {
    .columnShowRoutes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 95%;
        height: auto;
        padding: 1rem;
        margin-top: -0.9rem;
        background: none;
        box-shadow: none;
    }

    .enterAdresses {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-shadow: none;
    }

    .enterAdresses input {
        background: rgb(222, 228, 255);
    }
    .enterAdresses label {
        margin: 0.5rem 0 0 2.2rem;
        color: rgb(2, 2, 2);
    }
    .enterAdresses.row input {
        height: 2.6rem;
    }

    .destination {
        width: 75%;
        gap: 0.5rem;
        margin-right: 4vw;
    }

    .enterAdresses .btnEnabled,
    .enterAdresses .btnDisabled {
        margin-top: 1rem;
    }
}

@media (width>=1000px) and (width<1200px) {
    .columnShowRoutes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 95%;
        height: auto;
        padding: 1rem;
        margin-top: -0.9rem;
        background: none;
        box-shadow: none;
    }

    .enterAdresses label {
        margin: 0.5rem 0 0 2.2rem;
        color: rgb(2, 2, 2);
    }
    .enterAdresses input {
        background: rgb(241, 241, 241);
    }
}
