.columnShowRoutes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 95%;
    padding: 1rem;
    margin-top: -0.5rem;
    background: linear-gradient(#1b2450, #243064);
    box-shadow: 2px 2px 2px black;
    height: auto;
}

.rowOne {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: auto;
}

.rowOne .origin,
.rowOne .destiny {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 45%;
    gap: 0.5rem;
}

.rowOne .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 99%;
}

.rowOne label {
    margin: 0.5rem 0 0 2.2rem;
    color: white;
}

.rowOne .row input {
    width: 99%;
    height: 2.4rem;
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 15px;
    border: 1px solid rgb(182, 182, 182);
    outline: none;
}
.rowOne .origin input {
    padding-right: 2.5rem;
    width: 94%;
}

.containInput {
    width: 99%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowOne .row .containInput .search {
    width: 1rem;
    height: auto;
    position: absolute;
    top: 0.6rem;
    right: 0.1rem;
    cursor: pointer;
    box-shadow: none;
    background: none;
}

.rowOne .row .containInput .search .loader {
    width: 22px;
    height: 22px;
    border: 3px solid #fff;
    border-bottom-color: #278cc7;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rowOne .row .containInput .search img {
    width: 19px;
    height: 19px;
}

.rowOne .btnEnabled,
.rowOne .btnDisabled {
    margin-top: 2.2rem;
    width: 9rem;
    height: 2.2rem;
    border-radius: 56px;
    background: rgb(58, 120, 212);
    color: white;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.rowOne .btnDisabled {
    background: rgb(182, 182, 182);
    cursor: auto;
}

.rowOne .btnEnabled:hover {
    background: rgb(38, 92, 172);
}

.rowOne button img {
    width: 25px;
    height: 25px;
}

.rowOne img {
    width: 23px;
    height: 23px;
}

.rowOne .origin img {
    width: 26px;
    height: 26px;
}
.containLoaderRoutes {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    color: white;
}

.loaderRoutes {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #3283c5;
    border-bottom: none;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (width<=650px) {
    .columnShowRoutes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 95%;
        height: auto;
        padding: 1rem;
        margin-top: -0.9rem;
        background: none;
        background-color: #28335e;
        box-shadow: none;
    }

    .rowOne {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .rowOne .origin,
    .rowOne .destiny {
        width: 93%;
        gap: 0.5rem;
    }

    .rowOne .row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 99%;
    }

    .rowOne .btnEnabled,
    .rowOne .btnDisabled {
        margin-top: 1rem;
    }
}
