.containTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 0.5rem;
    background: linear-gradient(#2e3453, #313e7a);
    box-shadow:
        rgb(37, 37, 37) 2px 1px 2px 0px,
        rgb(37, 37, 37) 2px 1px 3px 1px;
}

.table {
    width: 99%;
    height: auto;
    border-collapse: collapse;
}

.table th {
    font-size: 13px;
    padding-bottom: 0.4rem;
    padding-top: 0.2rem;
}
.table th,
td {
    text-align: center;
}
.table td {
    text-align: center;
    font-size: 13px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.trGray {
    background-color: #3a457c;
    cursor: pointer;
}
.trWhite {
    background-color: #252e5a;
    cursor: pointer;
}

.table .nameNeighborhood {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 99%;
    gap: 0.5rem;
    padding-left: 8%;
}
.table .moreDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(224, 224, 224);
    background-color: #1f243b;
    padding-bottom: 0.5rem;
}

.table .moreDetails h4 {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 15px;
}

@media (width<=650px) {
    .containTable {
        overflow-y: scroll;
        background: white;
        box-shadow: none;
        padding-bottom: 0.5rem;
    }
    .table th {
        padding-bottom: 0.7rem;
        padding-top: 0.3rem;
    }
    .trGray {
        background-color: #eeeeee;
        cursor: pointer;
    }
    .trWhite {
        background-color: #ffffff;
        cursor: pointer;
    }

    .table {
        width: 215%;
        height: auto;
        border-collapse: collapse;
        margin-left: 111vw;
    }

    .table .moreDetails {
        width: 100%;
        box-shadow: none;
        background-color: #ffffff;
        border-top: 1px solid rgb(197, 197, 197);
        border-bottom: 1px solid rgb(170, 170, 170);
    }
}

@media (width>650px) and (width<1200px) {
    .containTable {
        overflow-y: visible;
        background: white;
        box-shadow: none;
    }

    .trGray {
        background-color: #eeeeee;
        cursor: pointer;
    }
    .trWhite {
        background-color: #ffffff;
        cursor: pointer;
    }
    .table {
        width: 100%;
        height: auto;
        overflow-y: scroll;
        border-collapse: collapse;
    }

    .table .moreDetails {
        width: 99%;
        box-shadow: none;
        background-color: #ffffff;
        border-top: 1px solid rgb(170, 170, 170);
        border-bottom: 1px solid rgb(170, 170, 170);
    }
}
