.containTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow:
        rgb(37, 37, 37) 2px 1px 2px 0px,
        rgb(37, 37, 37) 2px 1px 3px 1px;
    background: linear-gradient(#2e3453, #313e7a);
}

.table {
    width: 99%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table th {
    font-size: 12px;
    padding-bottom: 0.7rem;
    padding-top: 0.5rem;
}
.table th,
td {
    text-align: center;
}
.table td {
    text-align: center;
    font-size: 12px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.trGray {
    background-color: #3a457c;
    cursor: pointer;
}
.trWhite {
    background-color: #252e5a;
    cursor: pointer;
}

.table .nameNeighborhood {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 11rem;
    gap: 0.5rem;
    padding-left: 5%;
}

.table tfoot tr td {
    font-size: 14px;
    text-align: start;
    font-weight: bold;
    padding-left: 1.2rem;
}

@media (width<=650px) {
    .containTable {
        width: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
        align-items: start;
        background: white;
        box-shadow: none;
        color: black;
    }

    .trGray {
        background-color: #eeeeee;
        cursor: pointer;
    }
    .trWhite {
        background-color: #ffffff;
        cursor: pointer;
    }
    .table {
        width: 217vw;
        table-layout: fixed;
    }

    .table .nameNeighborhood {
        width: 99%;
        padding-left: 5%;
    }

    .table tfoot {
        border-top: 1px solid rgb(165, 165, 165);
    }
}

@media (width>650px) and (width<1200px) {
    .containTable {
        width: 100%;
        overflow-x: scroll;
        overflow-y: visible;
        background: white;
        box-shadow: none;
        color: black;
    }

    .trGray {
        background-color: #eeeeee;
        cursor: pointer;
    }
    .trWhite {
        background-color: #ffffff;
        cursor: pointer;
    }
    .table {
        width: 100%;
        height: 100%;
    }

    .table .nameNeighborhood {
        width: 11rem;
        padding-left: 5%;
    }

    .table tfoot {
        border-top: 1px solid rgb(165, 165, 165);
    }
}
