.transports {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    padding: 0.5rem 0 0.5rem 0;
    margin-top: 0;
    width: 99%;
    border-bottom: 1px solid rgb(238, 238, 238);
    list-style: none;
}

.transports img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.transports li {
    padding: 0.5rem;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transports li:hover {
    background: rgba(186, 233, 255, 0.76);
}
