.transports {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    padding: 0.5rem 0 0.5rem 0;
    margin-top: 0;
    width: 99%;
    background: linear-gradient(#1b2450, #243064);
    box-shadow: 2px 2px 2px black;
    list-style: none;
}

.transports img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.transports li {
    padding: 0.5rem;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transports li:hover,
.transports .selected {
    background: rgba(0, 0, 0, 0.384);
}

@media (width<=1200px) {
    .transports {
        background: none;
        box-shadow: none;
        background: rgb(222, 228, 255);
        border-bottom: 0;
        margin-top: 0.5rem;
    }
    .transports li:hover,
    .transports .selected {
        background: rgba(141, 141, 141, 0.384);
    }
}
