.transports {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    padding: 0.5rem 0 0.5rem 0;
    margin-top: 0;
    width: 99%;
    border-bottom: 1px solid rgb(238, 238, 238);
    list-style: none;
}

.transports img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.transports li:hover {
    border-bottom: 2px solid rgb(78, 140, 223);
}
