.secondColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    width: 45%;
    gap: 1.5rem;
}

.secondColumn .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.secondColumn .columnInput label {
    width: 16rem;
    text-align: start;
}

.secondColumn .columnInput input {
    width: 99%;
    height: 2rem;
    outline: none;
    border-radius: 0;
}

.secondColumn .columnInput p {
    position: absolute;
    top: 3.3rem;
    width: 16rem;
    font-size: 12px;
    text-align: start;
    color: red;
}

.secondColumn select {
    height: 2.3rem;
    width: 16.5rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(218, 218, 218);
    background: linear-gradient(rgb(236, 236, 236), rgb(219, 219, 219));
    font-size: 15px;
    outline: none;
}
.secondColumn .info {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    font-size: 12px;
}

.secondColumn .info img {
    width: 31px;
    height: 31px;
}

.secondColumn .info p {
    margin: 0;
    position: static;
    color: black;
}

.secondColumn .btnSearch {
    width: 11rem;
    color: white;
    height: 1.8rem;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    background: rgb(34, 103, 207);
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.secondColumn .btnSearch:hover {
    background: rgb(30, 86, 170);
}

@media (width<650px) {
    .secondColumn {
        width: 95%;
    }

    .secondColumn .columnInput {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
        position: relative;
    }

    .secondColumn .columnInput label {
        width: 16rem;
        font-size: 14px;
        text-align: start;
    }

    .secondColumn .columnInput input {
        width: 99%;
        height: 2.3rem;
        outline: none;
        border-radius: 0;
    }

    .secondColumn .columnInput p {
        color: red;
    }

    .secondColumn .info {
        width: 99%;
        font-size: 14px;
    }

    .secondColumn .btnSearch {
        font-size: 14px;
    }
}
