.years {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 98%;
    margin: 0;
    margin-top: 0.3rem;
    padding: 0 0 0.5rem 1%;
    gap: 1rem;
    list-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
}

.years li button {
    text-align: center;
    border-radius: 13px;
    font-size: 12px;
    height: 1.6rem;
    width: 5rem;
    font-weight: bold;
    cursor: pointer;
}

.years li .yearSelected {
    background-color: #37b8b1;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
}

.years li .yearSelected:hover {
    background-color: #30a39d;
}

.years li .yearUnselected {
    background-color: rgb(255, 255, 255);
    color: #30a39d;
}

.years li .yearUnselected:hover {
    box-shadow: none;
}
