.years {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 98%;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0 0 0.5rem 1%;
    gap: 1rem;
    list-style: none;
    overflow-x: scroll;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.years li button {
    text-align: center;
    border-radius: 13px;
    font-size: 12px;
    height: 1.6rem;
    width: 5rem;
    font-weight: bold;
    cursor: pointer;
}

.years li .yearSelected {
    background-color: rgb(51, 121, 212);
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
}

.years li .yearSelected:hover {
    background-color: rgb(40, 98, 173);
}

.years li .yearUnselected {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 121, 212);
    box-shadow: 2px 2px 2px rgb(218, 218, 218);
    border: 1px solid rgb(209, 209, 209);
}

.years li .yearUnselected:hover {
    box-shadow: none;
}
