.zoneInfo {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-right: 1px solid rgb(19, 11, 46);
}
.zoneInfo svg {
    width: 100%;
    height: 6vh;
    margin-top: 0.5vh;
}

.zoneInfo p {
    width: 99%;
    padding: 0 0 0.4rem 0;
    margin: 0;
    text-align: center;
}

@media (width<=650px) {
    .zoneInfo {
        width: 58%;
        height: auto;
        display: flex;
        font-size: 13px;
    }
    .zoneInfo svg {
        width: 100%;
        height: 2.5rem;
        margin-top: 0.5vh;
    }

    .zoneInfo p {
        width: 99%;
        padding: 0 0 0.4rem 0;
        margin: 0;
        text-align: center;
    }
}

@media (width<=650px) {
    .zoneInfo {
        width: 58%;
        height: auto;
        display: flex;
        font-size: 13px;
    }
    .zoneInfo svg {
        width: 100%;
        height: 2.5rem;
        margin-top: 0.5vh;
    }

    .zoneInfo p {
        width: 11rem;
        padding: 0 0 0.4rem 0;
        margin: 0;
        text-align: center;
    }
}

@media (width>650px) and (width<1200px) {
    .zoneInfo {
        width: 58%;
        height: auto;
        display: flex;
        font-size: 14px;
    }
    .zoneInfo svg {
        width: 100%;
        height: 2.5rem;
        margin-top: 0.5vh;
    }

    .zoneInfo p {
        width: 99%;
        padding: 0 0 0.4rem 0;
        margin: 0;
        text-align: center;
    }
}
