.pac-container {
  width: 20rem !important;
  left: 2.5rem !important;
  border-radius: 5px;
}

.pac-item {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

.pac-item:hover {
  background-color: #f0f0f0;
}

.pac-item-query {
  font-weight: bold;
  color: #333;
}

.autocompleteContainer {
  margin-left: 2rem;
}

.autocompleteContainer input {
  width: 15.7rem;
  height: 2.7rem;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 2px gray;
  padding-left: 3rem;
  position: relative;
  z-index: 3;
  margin-top: 0.5rem;
  padding-right: 2.4rem;
  outline: none;
  color: rgb(53, 53, 53);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-image: url("../../../assets/img/search.png");
  background-size: 28px;
  background-position-y: 0.5rem;
  background-position-x: 0.6rem;
  background-repeat: no-repeat;
}

.autocompleteContainer button {
  position: absolute;
  z-index: 7;
  opacity: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  margin-left: 18.6rem;
  height: 2.8rem;
  margin-top: 0.6rem;
  cursor: pointer;
}
.autocompleteContainer button img {
  width: 22px;
  height: 22px;
}

.autocompleteContainer input::placeholder {
  color: rgb(124, 124, 124);
}
