.pac-container {
  width: 18rem !important;
  left: 2.5rem !important;
  border-radius: 5px;
}

.pac-item {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

.pac-item:hover {
  background-color: #f0f0f0;
}

.pac-item-query {
  font-weight: bold;
  color: #333;
}

.autocompleteContainer {
  margin-left: 2rem;
  position: relative;
}

.autocompleteContainer input {
  width: 17rem;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px gray;
  padding-left: 1rem;
  padding-right: 3.5rem;
  z-index: 3;
  margin-top: 0.5rem;
  outline: none;
  color: rgb(53, 53, 53);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.autocompleteContainer input::placeholder {
  color: rgb(124, 124, 124);
}

.autocompleteContainer button {
  position: absolute;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  margin-left: 18.5rem;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  width: 4rem;
  color: white;
  font-weight: bold;
  font-size: 12px;
  height: 2.7rem;
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: rgb(55, 128, 211);
}
.autocompleteContainer button:hover {
  background-color: rgb(49, 117, 194);
}

.autocompleteContainer button img {
  width: 21px;
  height: 21px;
}
