.containSearcher {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 39%;
}

.containSearcher input {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: #232b50;
    padding-left: 1rem;
    outline: none;
}

.containSearcher input:hover {
    box-shadow: none;
    border: none;
}

@media (width<=650px) {
    .containSearcher {
        width: 99%;
    }
    .containSearcher input {
        background: #e0e0e0;
        color: rgb(36, 36, 36);
    }
    .containSearcher input:hover {
        box-shadow: none;
        border: none;
    }
}

@media (width>650px) and (width<1200px) {
    .containSearcher {
        width: 44%;
        justify-content: start;
    }
    .containSearcher input {
        height: 2.1rem;
        background: #e0e0e0;
        color: rgb(36, 36, 36);
    }
    .containSearcher input:hover {
        box-shadow: none;
        border: none;
    }
}
