.containOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.options {
    padding: 0.3rem 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    height: auto;
    width: 100%;
}

.options li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 16px;
    cursor: pointer;
}

.options li a {
    color: white;
    text-decoration: none;
}

.options .mainOption,
.options .selected {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.6rem 0 0.6rem 0;
}

.options .mainOption:hover {
    background: rgba(180, 180, 180, 0.274);
}

.options .selected {
    background: white;
    width: 98%;
    border-radius: 4px;
}

.options .selected:hover {
    background: white;
}

.options .selected a {
    color: rgb(34, 34, 34);
}

.options .mainOption div,
.options .selected div {
    height: 24px;
    width: 24px;
    margin-left: 0.5rem;
}

.options li .mainOption .iconDepartments {
    background: url("../../../../assets/img/departments.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .mainOption .iconNeighborhoods {
    background: url("../../../../assets/img/neighborhoods.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.options li .mainOption .iconPopulation {
    background: url("../../../../assets/img/populationsTwo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .mainOption .iconCrimes {
    background: url("../../../../assets/img/crimes.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .mainOption .iconNeighborhoodsCrimes {
    background: url("../../../../assets/img/zones.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li:hover > div > .btnSubmenu {
    display: flex;
}

.btnSubmenu {
    width: auto;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    background: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.btnSubmenu input {
    display: none;
}

.btnSubmenu img {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.options li:has(input:checked) > .submenu {
    display: flex;
}
.options li:has(input:checked) > div > .btnSubmenu img {
    transform: rotate(90deg);
}

.options li .submenu {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

.options li .submenu li {
    width: 100%;
    gap: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.6rem 0 0.6rem 0;
}

.options li .submenu li:hover {
    background: rgba(180, 180, 180, 0.274);
}

.options li .submenu li div {
    height: 24px;
    width: 24px;
    margin-left: 0.5rem;
    background: url("../../../../assets/img/auditories.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .mainOption .iconRols {
    background: url("../../../../assets/img/rols.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .mainOption .iconUsers {
    background: url("../../../../assets/img/users.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .mainOption .iconStatistics {
    background: url("../../../../assets/img/statistics.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .selected .iconDepartments {
    background: url("../../../../assets/img/departmentsSelected.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.options li .selected .iconNeighborhoods {
    background: url("../../../../assets/img/neighbrohoodsSelected.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .selected .iconNeighborhoodsCrimes {
    background: url("../../../../assets/img/zonesSelected.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .iconCrimes {
    background: url("../../../../assets/img/crimesSelected.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .selected .iconPopulation {
    background: url("../../../../assets/img/populationSelected.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .selected .iconStatistics {
    background: url("../../../../assets/img/statisticsSelected.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options li .selected .iconRols {
    background: url("../../../../assets/img/rolsSelected.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.options li .selected .iconUsers {
    background: url("../../../../assets/img/usersSelected.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (width>650px) and (width<1200px) {
    .containOptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 55vh;
        overflow-y: scroll;
        width: 100%;
    }
}
