.containTable {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 99%;
    height: 79vh;
    background: white;
    border: 1px solid rgb(223, 223, 223);
    position: relative;
}

.containTable .scrollTable {
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.containTable table {
    height: auto;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
}

.containTable table thead {
    color: white;
    background: rgb(31, 44, 59);
}

.containTable table thead th {
    padding: 0.8rem;
}

.containTable .pagination {
    position: absolute;
    bottom: 1rem;
    width: 99%;
    border-top: 1px solid rgb(207, 207, 207);
}
.containTable .pagination ul {
    margin: 0.3rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.containTable .pagination ul li button {
    width: 1.8rem;
    height: 1.8rem;
    background: linear-gradient(rgb(37, 130, 143), rgb(27, 88, 146));
    color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px gray;
}
.containTable .pagination ul li .disabled {
    opacity: 76%;
}

.containTable .pagination ul li button:hover,
.containTable .pagination ul li .disabled {
    box-shadow: none;
}

@media (width<650px) {
    .containTable table {
        height: auto;
        width: 170%;
    }
}

@media (width>650px) and (width<1200px) {
    .containTable {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 99%;
        height: 79vh;
        background: white;
        border: 1px solid rgb(223, 223, 223);
        position: relative;
    }

    .containTable .scrollTable {
        width: 100%;
        height: 100%;
        background: white;
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    .containTable table {
        height: auto;
        width: 100%;
        border-collapse: collapse;
        font-size: 13px;
        table-layout: fixed;
    }

    .containTable table thead {
        color: white;
        background: rgb(31, 44, 59);
    }

    .containTable table thead th {
        padding: 0.8rem;
    }

    .containTable .pagination {
        position: absolute;
        bottom: 1rem;
        width: 99%;
        border-top: 1px solid rgb(207, 207, 207);
    }
    .containTable .pagination ul {
        margin: 0.3rem 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .containTable .pagination ul li button {
        width: 1.8rem;
        height: 1.8rem;
        background: linear-gradient(rgb(37, 130, 143), rgb(27, 88, 146));
        color: white;
        border-radius: 3px;
        box-shadow: 2px 2px 2px gray;
    }
    .containTable .pagination ul li .disabled {
        opacity: 76%;
    }

    .containTable .pagination ul li button:hover,
    .containTable .pagination ul li .disabled {
        box-shadow: none;
    }
}
