.viewStatistics {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0;
    width: 41vw;
    height: 100vh;
    border-left: none;
    background: linear-gradient(#262c4b, #242d57);
}

.containOptionsCrimes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 3.8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0;
    width: 100%;
    height: 95%;
    border-left: none;
}

.deploy {
    display: none;
}

@media (width<=650px) {
    .viewStatistics {
        gap: 0;
        width: 100vw;
        height: 76vh;
        margin-top: 11vh;
        border-left: none;
        background: none;
    }

    .containOptionsCrimes {
        margin-top: 0;
        height: 100%;
        overflow-y: scroll;
        border-top-left-radius: 23px;
        border-top-right-radius: 23px;
        background: white;
        position: relative;
    }

    .deploy {
        display: flex;
        position: absolute;
        top: 0.5vh;
        left: 44vw;
        z-index: 5;
        margin: auto;
        width: 3rem;
        height: 0.3rem;
        border-radius: 25px;
        background: rgb(136, 136, 136);
        opacity: 59%;
    }
}

@media (width>650px) and (width<1200px) {
    .viewStatistics {
        right: 7.5%;
        gap: 0;
        width: 85%;
        height: 85vh;
        border-left: none;
    }

    .containOptionsCrimes {
        margin-top: 0;
        height: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: gray;
        background: white;
        overflow-y: scroll;
    }
    .deploy {
        display: flex;
        position: absolute;
        top: 38vh;
        right: 1.5vw;
        z-index: 5;
        width: 0.4rem;
        height: 3rem;
        border-radius: 25px;
        background: rgb(136, 136, 136);
        opacity: 59%;
    }
}
