.viewStatistics {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0;
    width: 35rem;
    height: 100vh;
    border-left: none;
    background: linear-gradient(#262c4b, #242d57);
}

.containOptionsCrimes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 3.8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0;
    width: 100%;
    height: 95%;
    border-left: none;
}

@media (width<=650px) {
    .viewStatistics {
        gap: 0;
        width: 100%;
        height: 93.5vh;
        border-left: none;
        background: none;
    }

    .containOptionsCrimes {
        margin-top: 1rem;
        height: 100%;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        background: linear-gradient(#262c4b, #242d57);
    }
}

@media (width>650px) and (width<=1000px) {
    .viewStatistics {
        right: 9%;
        gap: 0;
        width: 55vw;
        height: 100vh;
        border-left: none;
        background: none;
    }

    .containOptionsCrimes {
        margin-top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#262c4b, #242d57);
        overflow-y: scroll;
    }
}
