.buttonStartRoute {
    background: rgb(35, 159, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    color: white;
    font-weight: bold;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius:100px;
}

.buttonStartRoute:hover {
     background: rgb(30, 134, 148);
}
.buttonStartRoute img {
    width: 24px;
    height: 24px;
}
