.containLoader {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    top: 0;
    height: 99%;
    width: 99%;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.containLoader p {
    margin: 0;
}

.loader {
    width: 1.2rem;
    height: 1.2rem;
    border: 3px solid #3283c5;
    border-bottom: none;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (width<=650px) {
    .containLoader {
        font-size: 12px;
    }

    .loader {
        width: 1rem;
        height: 1rem;
    }
}

@media (width>650px) and (width<1200px) {
    .containLoader p {
        display: none;
    }
    .loader {
        width: 1.8rem;
        height: 1.8rem;
    }
}
