.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    width: 98%;
    height: auto;
    box-shadow: 2px 2px 2px rgb(7, 7, 7);
    background: linear-gradient(#1b2450, #243064);
    margin: 0;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    gap: 1.5rem;
}
.info li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.info li p {
    padding: 0;
    margin: 0;
    width: 82%;
}

.address,
.phone,
.web {
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    opacity: 75%;
}

.address {
    background-image: url("../../../../assets/img/address.png");
}

.phone {
    background-image: url("../../../../assets/img/phone.png");
}

.web {
    background-image: url("../../../../assets/img/web.png");
}
.info li a {
    color: white;
    text-decoration: none;
}

.info li a:hover {
    text-decoration: underline;
    color: rgb(61, 136, 185);
}

@media (width<=650px) {
    .info {
        box-shadow: none;
        background: none;
        background: rgb(222, 228, 255);
        font-size: 15px;
        border-radius: 5px;
        height: auto;
    }

    .info li p {
        width: 82%;
    }
    .info li a {
        color: rgb(41, 107, 151);
        text-decoration: none;
    }

    .address {
        background-image: url("../../../../assets/img/addressMobile.png");
    }

    .phone {
        background-image: url("../../../../assets/img/phoneMobile.png");
    }

    .web {
        background-image: url("../../../../assets/img/webMobile.png");
    }
}
@media (width>650px) and (width<1200px) {
    .info {
        box-shadow: none;
        background: none;
        background: rgb(222, 228, 255);
        font-size: 16px;
        border-radius: 5px;
        height: auto;
    }

    .info li a {
        color: rgb(41, 107, 151);
        text-decoration: none;
    }

    .address {
        background-image: url("../../../../assets/img/addressMobile.png");
    }

    .phone {
        background-image: url("../../../../assets/img/phoneMobile.png");
    }

    .web {
        background-image: url("../../../../assets/img/webMobile.png");
    }
}
