.viewPlaces {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    right: 0;
    width: 42vw;
    height: 90vh;
    background: none;
    box-shadow: none;
    z-index: 6;
    font-family: Arial, Helvetica, sans-serif;
}

.containCheckDeploy {
    display: flex;
    position: absolute;
    top: 1vh;
    z-index: 1;
    cursor: pointer;
}

.containCheckDeploy label {
    width: 3rem;
    height: 0.3rem;
    border-radius: 25px;
    opacity: 99%;
    background: rgb(204, 204, 204);
}

.containCheckDeploy .deploy {
    visibility: hidden;
}

.viewPlaces:not(.deploy:checked) {
    animation-name: deployUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.viewPlaces:has(.deploy:checked) {
    animation-name: deployDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes deployDown {
    from {
        top: 10vh;
    }

    to {
        top: 95vh;
    }
}

@keyframes deployUp {
    from {
        top: 83vh;
    }

    to {
        top: 10vh;
    }
}

@media (width<=650px) {
    .viewPlaces {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        left: 0;
        top: 0;
        background: none;
        box-shadow: none;
        height: 81vh;
        width: 100vw;
        overflow-y: hidden;
        z-index: 2;
    }

    .placeNotSelected {
        display: none;
    }

    .containCheckDeploy {
        display: flex;
        position: absolute;
        top: 1vh;
        left: 44vw;
        z-index: 1;
    }

    .containCheckDeploy label {
        width: 3rem;
        height: 0.3rem;
        border-radius: 25px;
        opacity: 99%;
        background: rgb(204, 204, 204);
    }

    .containCheckDeploy .deploy {
        visibility: hidden;
    }

    @keyframes deployDown {
        from {
            top: 10vh;
        }

        to {
            top: 80vh;
        }
    }

    @keyframes deployUp {
        from {
            top: 80vh;
        }

        to {
            top: 10vh;
        }
    }
}

@media (width>650px) and (width<1200px) {
    .viewPlaces {
        position: absolute;
        gap: 0.5rem;
        left: 7.9vw;
        top: 0;
        background: none;
        box-shadow: none;
        height: 85.7vh;
        width: 84vw;
    }

    .viewPlaces:not(.deploy:checked) {
        animation-name: deployRight;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .viewPlaces:has(.deploy:checked) {
        animation-name: deployLeft;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes deployRight {
        from {
            left: -71vw;
        }

        to {
            left: 9vw;
        }
    }

    @keyframes deployLeft {
        from {
            left: 9vw;
        }

        to {
            left: -71vw;
        }
    }

    .placeNotSelected {
        display: none;
    }

    .containCheckDeploy {
        display: flex;
        position: absolute;
        top: 37vh;
        right: -2vw;
        z-index: 1;
    }

    .containCheckDeploy label {
        width: 0.5rem;
        height: 3rem;
        border-radius: 25px;
        opacity: 99%;
        background: rgb(204, 204, 204);
    }

    .containCheckDeploy .deploy {
        visibility: hidden;
    }
}