.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.reasons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
    padding: 0;
}

.reasons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 15px;
}
