.map {
    width: 58.3vw;
    height: 60vh;
    border: 5px solid #2e355c;
}

.mapNavigation {
    width: 58.3vw;
    height: 98.6vh;
    border: 5px solid #2e355c;
}

@media (width<=650px) {
    .map,
    .mapNavigation {
        width: 100vw;
        height: 86vh;
        border: none;
    }
}

@media (width>650px) and (width<1200px) {
    .map,
    .mapNavigation {
        width: 92vw;
        height: 85vh;
        border: none;
        margin-left: 8vw;
    }
}
