.map {
    width: 58.3vw;
    height: 60vh;
    border: 5px solid #2e355c;
}

@media (width<=650px) {
    .map {
        width: 100vw;
        height: 93.3vh;
        border: none;
    }
}

@media (width>650px) and (width<=1000px) {
    .map {
        width: 93vw;
        height: 100vh;
        border: none;
    }
}
