.departments {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 85%;
    height: 100vh;
    background-repeat: no-repeat;
}

.body .title {
    width: 99%;
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    justify-content: start;
    align-items: start;
    color: gray;
}
.body .title h3 {
    font-weight: 100;
    font-size: 23px;
    margin-left: 1rem;
}
