tbody td {
    padding: 0.3rem;
    font-size: 13px;
}

tbody .nameNeighborhood {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
    font-size: 12px;
    width: auto;
}

tbody .trGray {
    background: rgb(236, 236, 236);
}

tbody .containIncrease {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 12px;
}

tbody .containIncrease img {
    width: 21px;
    height: 21px;
}

tbody .containIncrease .increase {
    color: rgb(226, 80, 80);
    font-weight: bold;
}
tbody .containIncrease .decrease {
    color: rgb(30, 194, 52);
    font-weight: bold;
}
