.customMsj {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.customTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.customBtnConfirm,
.customBtnCancel,
.customBtnConfirmWarning,
.customBtnConfirmSuccess {
    width: 8rem;
    font-weight: bold;
    background: rgb(216, 34, 34);
}

.customBtnCancel {
    background: rgb(150, 150, 150);
}

.customBtnCancel:hover {
    background: rgb(131, 131, 131);
}
.customBtnConfirmWarning {
    background: rgb(199, 108, 34);
}

.customBtnConfirmSuccess {
    background: rgb(49, 196, 35);
    width: 8rem;
}

.customBtnConfirm:hover {
    background: rgb(184, 23, 23);
}
.customBtnConfirmWarning:hover {
    background: rgb(180, 94, 23);
}

.customBtnConfirmSuccess:hover {
    background: rgb(37, 145, 27);
}

@media (width<=650px) {
    .customMsj {
        font-size: 17px;
    }

    .customTitle {
        font-size: 18px;
    }
    .customBtnConfirm,
    .customBtnCancel,
    .customBtnConfirmWarning,
    .customBtnConfirmSuccess {
        font-size: 15px;
        width: auto;
    }
}
