.btnVoice {
    background: linear-gradient(#333f7c, #222c57);
    width: 3.1rem;
    height: 3.1rem;
    border: none;
    margin: 0 1vw 3vh 0;
    border-radius: 99%;
    text-align: center;
    box-shadow: none;
}

.btnVoice img {
    width: 27px;
    height: 27px;
}

@media (width<=650px) {
    .btnVoice {
        width: 3.1rem;
        height: 3.1rem;
        margin: 0 1vw 3vh 0;
        background: linear-gradient(#4659b9, #202c5e);
    }

    .btnVoice img {
        width: 24px;
        height: 24px;
    }
}

@media (width>650px) and (width<1200px) {
    .btnVoice {
        width: 3.1rem;
        height: 3.1rem;
        margin: 0 1vw 6vh 0;
        background: linear-gradient(#4659b9, #202c5e);
    }

    .btnVoice img {
        width: 25px;
        height: 25px;
    }
}
