.navigation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 3vh;
}

.navigation .indications {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: auto;
    gap: 1rem;
    width: 99%;
}

.navigation .indications .step {
    width: 22rem;
    height: auto;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(21, 148, 21);
    padding: 1rem;
    border-radius: 5px;
}

.navigation .indications .detailsStep {
    width: 97%;
    height: auto;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(25, 26, 63);
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    gap: 1rem;
}
.navigation .indications .detailsStep h4 {
    padding: 0;
    margin: 0;
}
