.indication {
    width: 26rem;
    height: 4rem;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 2vw 1vw 0 0;
    background-color: rgb(21, 145, 21);
    border-radius: 8px;
}

.indication .maneuver {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(22, 136, 22);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 1px solid green;
}

.indication .maneuver img {
    width: 42px;
    height: 42px;
}
.indication p {
    padding: 0;
    margin: 0;
}

@media (width<=650px) {
    .indication {
        width: 96vw;
        border-radius: 8px;
        font-size: 15px;
        margin: 0.7vh 0 0 0;
    }

    .indication .maneuver img {
        width: 39px;
        height: 39px;
    }
}
