.ulReferences {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: start;
    width: 98%;
    gap: 0.5rem;
    padding: 0;
    padding-left: 2%;
    margin-top: 0;
}

.ulReferences li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 11px;
}

.ulReferences li div {
    width: 1.5rem;
    height: 0.9rem;
    border-radius: 1px;
}
