.references {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    width: 99%;
    padding-left: 1%;
    padding-bottom: 0.7rem;
}
.references h4 {
    margin: 0;
    font-size: 13px;
}

.ulReferences {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: start;
    width: 99%;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.ulReferences li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 11px;
}

.ulReferences li div {
    width: 1.5rem;
    height: 0.9rem;
    border-radius: 1px;
}
