.addQuiz {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.send {
    width: auto;
    height: auto;
    padding: 0.6rem 4rem 0.6rem 4rem;
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(rgb(48, 128, 219), rgb(20, 93, 122));
    color: white;
    font-weight: bold;
    border: none;
}

.send:hover {
    background: linear-gradient(rgb(48, 128, 219), rgb(18, 72, 94));
}
