.formEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: white;
    margin-top: 1rem;
    width: 100%;
}

.formEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    margin-top: 1rem;
}

.formEdit .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.formEdit input {
    height: 2.1rem;
    width: 15.5rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(214, 214, 214);
    font-size: 15px;
    outline: none;
}

.formEdit label {
    font-weight: bold;
    font-size: 15px;
    width: 16rem;
    text-align: start;
}
.formEdit p {
    color: red;
    position: absolute;
    top: 3rem;
    font-size: 14px;
}

.formEdit .save,
.formEdit .saveDisabled {
    background: rgb(35, 157, 187);
    border-radius: 5px;
    box-shadow: none;
    width: 16rem;
    height: 2rem;
    color: white;
    margin: 1rem 0 0 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.formEdit .saveDisabled {
    opacity: 84%;
    cursor: auto;
}
.formEdit .save:hover {
    background: rgb(25, 119, 143);
}

.formEdit .saveDisabled:hover {
    background: rgb(35, 157, 187);
    cursor: auto;
}

@media (width<650px) {
    .formEdit input {
        height: 2.4rem;
    }

    .formEdit p {
        color: red;
        position: absolute;
        top: 3.6rem;
        font-size: 12px;
    }

}
