.perception,
.columnPerception {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 56%;
    position: relative;
}

.perception .lblTitle {
    position: absolute;
    z-index: 3;
    background-color: white;
    margin-left: 0.4rem;
    width: auto;
}

.columnPerception {
    gap: 0.8rem;
    border: 1px solid gray;
    margin-top: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 99%;
}

.perception .rowPerception {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 0.2rem;
}

.perception .rowPerception label {
    font-size: 15px;
    font-weight: 100;
}

.perception .rowPerception input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

@media (width<=650px) {
    .perception {
        width: 66%;
    }
}
