.containOptionCrimes {
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 1rem;
    height: 100vh;
    position: relative;
}

.menuOptionsCrimes {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: rgb(54, 54, 54);
    color: white;
    gap: 1rem;
    padding: 0;
    width: 6rem;
    height: 100vh;
    list-style: none;
}

.contentMenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.menuOptionsCrimes li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 99%;
    font-size: 15px;
    height: 4rem;
    border-bottom: 1px solid rgb(44, 44, 44);
    padding-bottom: 0.3rem;
    cursor: pointer;
}
.menuOptionsCrimes li:hover {
    border-right: 3px solid white;
}

.menuOptionsCrimes li img {
    width: 27px;
    height: 27px;
}

.menuOptionsCrimes .myLocation {
    border-top: 1px solid rgb(44, 44, 44);
    height: 4rem;
    margin-bottom: 0.5rem;
}

.menuOptionsCrimes .myLocation img {
    width: 32px;
    height: 32px;
}
