.origin {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 45%;
    gap: 0.5rem;
}

.row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 99%;
}

.containInput {
    width: 99%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containInput input {
    padding: 0 2.5rem 0 2.3rem;
    width: 99%;
    background: url("../../../../../assets/img/origin.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-y: 0.5rem;
    background-position-x: 0.4rem;
}
.containInput img {
    width: 26px;
    height: 26px;
}
.containInput .search {
    width: 1rem;
    height: auto;
    position: absolute;
    top: 0.6rem;
    right: 0.3rem;
    cursor: pointer;
    box-shadow: none;
    background: none;
}

.containInput .search .loader {
    width: 22px;
    height: 22px;
    border: 3px solid #fff;
    border-bottom-color: #278cc7;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.containInput .search img {
    width: 19px;
    height: 19px;
}

@media (width<=650px) {
    .origin {
        width: 100%;
        gap: 0.5rem;
    }
    .row {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    .containInput input {
        background-color: rgb(248, 248, 248);
        width: 100%;
    }
}

@media (width>650px) and (width<1000px) {
    .origin {
        width: 75%;
        gap: 0.5rem;
        margin-right: 4vw;
    }
    .containInput input {
        width: 99%;
        height: 2.6rem;
        background-size: 25px;
        background-color: rgb(248, 248, 248);
    }
}
