.secondColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    width: 45%;
    gap: 1.5rem;
}

.secondColumn .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.secondColumn .columnInput label {
    width: 16rem;
    text-align: start;
}

.secondColumn .columnInput p {
    width: 16rem;
    text-align: start;
    position: absolute;
}

.secondColumn select {
    height: 2.3rem;
    width: 16.5rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(218, 218, 218);
    background: linear-gradient(rgb(236, 236, 236), rgb(219, 219, 219));
    font-size: 15px;
    outline: none;
}

.secondColumn .info {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.secondColumn .info img {
    width: 31px;
    height: 31px;
}

.secondColumn .info p {
    margin: 0;
    position: static;
    color: black;
}
