.containSvg,
.containSvgRedimensioned {
    width: 3.1rem;
    height: 3.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.containSvgRedimensioned {
    width: 5.5rem;
    height: 5.5rem;
}
.iconWarning {
    width: 58%;
    height: 58%;
}

@media (width<1200px) {
    .containSvg {
        width: 3rem;
        height: 3rem;
    }

    .containSvgRedimensioned {
        width: 4.7rem;
        height: 4.7rem;
    }
    .iconWarning {
        width: 58%;
        height: 58%;
    }
}
