.containDetails {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    background: linear-gradient(#262c49, #2f3b75);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.containDetails .close {
    display: none;
}

.containDetails .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;
    width: 53%;
    height: 35vh;
    background: none;
    scrollbar-width: none;
    scrollbar-color: rgb(151, 151, 151) rgb(243, 243, 243);
    overflow-y: scroll;
}

.containDetails .column .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px rgb(37, 37, 37);
    background: linear-gradient(#1b2450, #243064);
    width: 98%;
}

.containDetails .column .title {
    margin: 0;
    padding: 0.5rem;
    width: 98%;
    box-shadow: 2px 2px 2px rgb(37, 37, 37);
    background: linear-gradient(#1b2450, #243064);
    text-align: center;
}

.containDetails .column .description {
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 98%;
    box-shadow: 2px 2px 2px rgb(7, 7, 7);
    background: linear-gradient(#1b2450, #243064);
}

.containDetails .column .description span {
    font-weight: bold;
}

.containDetails .column .description p {
    margin: 0;
    padding: 0;
}

@media (width<=650px) {
    .containDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
        background: white;
        color: black;
    }

    .containDetails .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3.2rem;
        margin-top: 2rem;
        width: 92%;
        height: auto;
    }

    .containDetails .column .description,
    .containDetails .column .row,
    .containDetails .column .title {
        box-shadow: none;
        background: rgb(222, 228, 255);
        font-size: 15px;
        border-radius: 5px;
    }
    .containDetails .column .title,
    .containDetails .column .row {
        background: none;
        text-align: start;
        padding: 0;
    }

    .containDetails .coordinates {
        width: 93%;
        height: 1rem;
        border-radius: 5px;
        padding: 1rem;
        background: rgb(222, 228, 255);
    }
}
@media (width>650px) and (width<1200px) {
    .containDetails {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        border-top-right-radius: 27px;
        background: white;
        color: black;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .containDetails .column {
        width: 94%;
        height: auto;
        overflow-y: visible;
    }

    .containDetails .column .description,
    .containDetails .column .row,
    .containDetails .column .title {
        box-shadow: none;
        background: none;
        background: rgb(222, 228, 255);
        font-size: 16px;
        border-radius: 5px;
    }
    .containDetails .column .title,
    .containDetails .column .row {
        background: none;
        text-align: start;
        padding: 0;
    }
}
