.containDetails {
    position: absolute;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(151, 151, 151) rgb(243, 243, 243);
    top: 0;
    height: 100vh;
    width: 26rem;
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
}

.containDetails .header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.4rem;
    width: 100%;
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 0.4rem;
}

.containDetails .header h3 {
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 100;
    padding-left: 3%;
    margin: 0;
    margin-top: 0.3rem;
    gap: 0.7rem;
    width: 91%;
}

.containDetails .header h3 img {
    width: 17px;
    height: 17px;
}

.containDetails .header .row {
    width: 94%;
    margin-top: -0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.8rem;
    font-size: 16px;
}


.containDetails .header .img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin-left: 0.8rem;
}

.containDetails .aboutIt {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 97%;
    font-size: 16px;
}

.containDetails .aboutIt h4 {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.containDetails .aboutIt p {
    margin-top: 0;
    margin-left: 0.5rem;
}

.containDetails .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1.6rem;
}
.containDetails .info li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    width: 97%;
    font-size: 15px;
}

.containDetails .info p {
    width: 91%;
}

.containDetails .info .boxIcon {
    width: 2rem;
    height: 2rem;
    background-color: rgb(22, 163, 173);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containDetails .info .boxIcon img {
    width: 19px;
    height: 19px;
}

.containDetails .info li a {
    text-decoration: none;
    color: rgb(30, 167, 185);
}
