.containRoutes {
    width: 99%;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
    gap: 0.3rem;
}

.containRoutes li {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow: 2px 2px 2px black;
    background: linear-gradient(#1b2450, #243064);
    cursor: pointer;
    padding: 0.4rem;
}
.containRoutes li .mainRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.containRoutes li:hover,
.containRoutes .routeSelected {
    border-left: 3px solid white;
    width: 97.5%;
}

.containRoutes li .row .typeTransport {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containRoutes li img {
    width: 25px;
    padding: 1rem;
    height: 25px;
}

.containRoutes li .row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 81%;
}

.containRoutes li .columnOne p {
    padding: 0;
    margin: 0;
    width: 94%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.containRoutes li .columnOne {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    width: 99%;
}

@media (width<=650px) {
    .containRoutes {
        margin: 1rem 0 0 0;
        border-top: 1px solid rgb(190, 190, 190);
        overflow-y: scroll;
        overflow-x: hidden;
        color: black;
    }
    .containRoutes {
        margin: 1rem 0 0 0;
        border-top: 1px solid rgb(190, 190, 190);
        overflow-y: visible;
        color: black;
    }

    .containRoutes li {
        width: 98%;
        padding: 0 0.4rem 0.4rem 0.4rem;
        box-shadow: none;
        border-bottom: 1px solid rgb(196, 196, 196);
        background: rgb(226, 226, 226);
    }
    .containRoutes li .mainRow {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
    }

    .containRoutes li:hover,
    .containRoutes .routeSelected {
        width: 100%;
        border-left: 0;
        background-color: white;
    }

    .containRoutes li .row {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        width: 99%;
    }

    .containRoutes li .row .typeTransport {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 104%;
        background: rgb(241, 241, 241);
        border-top: 1px solid rgb(219, 219, 219);
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    .containRoutes li .columnOne {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
        width: 99%;
    }

    .containRoutes li img {
        width: 32px;
        padding: 0.4rem;
        height: 32px;
    }
}

@media (width>650px) and (width<1000px) {
    .containRoutes {
        margin: 1rem 0 0 0;
        border-top: 1px solid rgb(190, 190, 190);
        overflow-y: visible;
        color: black;
    }
    .containRoutes li {
        width: 98%;
        box-shadow: none;
        border-bottom: 1px solid rgb(196, 196, 196);
        background: none;
    }
    .containRoutes li .mainRow {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
    }

    .containRoutes li:hover,
    .containRoutes .routeSelected {
        width: 100%;
        border-left: 0;
        background-color: white;
    }
    .containRoutes li .row {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        width: 99%;
    }

    .containRoutes li .row .typeTransport {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 104%;
        background: rgb(241, 241, 241);
        border-top: 1px solid rgb(219, 219, 219);
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    .containRoutes li .columnOne {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
        width: 99%;
    }

    .containRoutes li img {
        width: 32px;
        padding: 0.4rem;
        height: 32px;
    }
}

@media (width>=1000px) and (width<1200px) {
    .containRoutes {
        margin: 1rem 0 0 0;
        border-top: 1px solid rgb(168, 168, 168);
        color: black;
    }
    .containRoutes li {
        background: white;
        box-shadow: none;
        border-bottom: 1px solid rgb(185, 185, 185);
    }

    .containRoutes li:hover,
    .containRoutes .routeSelected {
        width: 100%;
        border-left: 0;
        background-color: white;
    }

    .containRoutes li .row {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        width: 99%;
    }
    .containRoutes li .row .typeTransport {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
