.twoFA {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../../../assets/img/backgroundLogin.jpg");
    background-size: cover;
}

.containForm {
    width: 32rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: none;
    font-size: 16px;
    position: relative;
}

.containForm .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin-top: 1rem;
    gap: 0.5rem;
}

.containForm .titleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 99%;
    gap: 0.5rem;
}

.containForm .titleText p {
    font-size: 16px;
    margin: 0;
    width: 65%;
}

.containForm .titleText h3 {
    font-size: 19px;
    margin: 0;
}
.containForm img {
    width: 61px;
    height: 61px;
}

.containForm form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: none;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.containForm .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    margin-top: 1.5rem;
    gap: 0.5rem;
    width: 65%;
    font-weight: bold;
    font-size: 16px;
}

.containForm .columnInput img {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0.5rem;
    top: 2rem;
    cursor: pointer;
}

.containForm .columnInput input {
    font-size: 21px;
    width: 89%;
    height: 2.8rem;
    border: 1px solid #ccc;
    background: white;
    border-radius: 6px;
    outline: none;
    padding-left: 1rem;
}

.containForm .columnInput input::placeholder {
    font-size: 22px;
}

.containForm .columnInput input:hover {
    border-color: rgba(82, 168, 236, 0.8);
}

.keyboard {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 95%;
    margin: 0.5rem 0 0 0;
    padding: 0;
}

.keyboard li {
    width: 100%;
    height: 2rem;
}
.keyboard li ul {
    margin: 0;
    padding: 0;
    gap: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.keyboard li ul li {
    width: 20%;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard li ul li button {
    font-size: 19px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(252, 252, 252), rgb(187, 187, 187));
    box-shadow: 2px 2px 2px rgb(150, 150, 150);
    border-radius: 3px;
}

.keyboard li ul li button:hover {
  box-shadow: none;
}
