.notData {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 95%;
    height: 34%;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.notData span {
    width: 75%;
    text-align: center;
}

.notData img {
    width: 85px;
    height: 85px;
    opacity: 55%;
    margin-right: 0.4rem;
}

@media (width<1200px) {
    .notData {
        color: rgb(26, 26, 26);
    }
    .notData img {
        width: 75px;
        height: 75px;
        opacity: 88%;
    }
}
