.containData {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0;
    top: 3.6rem;
    background: linear-gradient(#262c4b, #242d57);
    width: 35rem;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.containData .header {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 100%;
}

.containData .header .close {
    display: none;
}

.containData .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    width: 100%;
    width: 99%;
    font-size: 15px;
    background: linear-gradient(#2e3453, #313e7a);
    box-shadow:
        rgb(37, 37, 37) 2px 1px 2px 0px,
        rgb(37, 37, 37) 2px 1px 3px 1px;
}
.containData .title h3 {
    margin: 0;
}

.containData .title img {
    width: 36px;
    height: 36px;
}

@media (width<=650px) {
    .containData {
        left: 0;
        top: 1rem;
        width: 100%;
        height: 93vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .containData .header .close {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        position: absolute;
    }

    .containData .header .close button {
        width: 3rem;
        height: 1.3rem;
        background: linear-gradient(rgb(48, 145, 175), rgb(34, 116, 131));
        color: white;
        border-left-color: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 3px;
        border: none;
        box-shadow: none;
        font-size: 17px;
        cursor: pointer;
    }
    .containData .header .close button img {
        width: 15px;
        height: 15px;
    }
    .containData .title {
        margin-top: 2rem;
        font-size: 13px;
        width: 98%;
    }
    .containData .title img {
        width: 28px;
        height: 28px;
    }
}

@media (width>650px) and (width<=1000px) {
    .containData {
        top: 0;
        width: 100%;
        height: 100vh;
    }
    .containData .header .close {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        position: absolute;
    }

    .containData .header .close button {
        width: 3rem;
        height: 1.3rem;
        background: linear-gradient(rgb(48, 145, 175), rgb(34, 116, 131));
        color: white;
        border-left-color: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 3px;
        border: none;
        box-shadow: none;
        font-size: 17px;
        cursor: pointer;
    }
    .containData .header .close button img {
        width: 16px;
        height: 16px;
    }
    .containData .title {
        margin-top: 2rem;
        font-size: 13px;
        width: 97%;
    }
    .containData .title img {
        width: 26px;
        height: 26px;
    }
}
