.containData {
    background: white;
    border-radius: 5px;
    top: 0;
    right: 0;
    width: 37rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containData .header {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 100%;
}

.containData .header .close {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    position: absolute;
}

.containData .header .close button {
    width: 4rem;
    height: 1.4rem;
    background: linear-gradient(rgb(214, 52, 52), rgb(165, 38, 38));
    color: white;
    border-left-color: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.containData .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    font-size: 17px;
    width: 100%;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.containData .title h3 {
    margin: 0;
}

.containData .title img {
    width: 36px;
    height: 36px;
}
