.filter {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 98%;
    gap: 0.5rem;
    margin: 1rem 0 0 0;
}

.filter .crimes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 0 0 0.5rem;
    padding: 0;
    list-style: none;
}

.filter .crimes button {
    margin: 0;
    width: 5.5rem;
    height: 2rem;
    font-weight: bold;
    box-shadow: none;
    border: 1px solid rgb(224, 224, 224);
}

.filter .crimes .crimeBtn {
    background: white;
    color: black;
}

.filter .crimes .crimeBtnSelected,
.filter .crimes button:hover {
    background: linear-gradient(rgb(241, 241, 241), rgb(218, 217, 217));
}
