.form,
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
fieldset {
    margin: 0;
    border: none;
    width: 100%;
    gap: 1rem;
}

.form .row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.form .columnNeighborhoods {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    width: 51%;
    gap: 0.5rem;
    position: relative;
}

.form .lblNeighborhoodsCrime {
    background: white;
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    width: auto;
    padding-left: 0.3rem;
    font-weight: bold;
    font-size: 15px;
    text-align: start;
}

.form .errorNeighborhoodsCrime {
    color: red;
    position: absolute;
    top: 3.2rem;
    font-size: 12px;
}

.form .errorNeighborhoodsCrime {
    top: 100%;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btnAdd,
.btnReset {
    margin: 1rem 0 0 0;
    font-size: 15px;
    min-width: 9rem;
    width: auto;
    height: 1.9rem;
    padding: 0 0.5rem 0 0.5rem;
    color: white;
    font-weight: bold;
    background: rgb(34, 207, 63);
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btnAdd:hover {
    background: rgb(36, 187, 61);
}

.btnReset {
    background: rgb(202, 29, 29);
}

.btnReset:hover {
    background: rgb(163, 30, 30);
}

@media (width<650px) {
    .form .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
        gap: 1.5rem;
        height: 99%;
        overflow-y: scroll;
    }

    .form .columnNeighborhoods {
        width: 91%;
        height: auto;
        padding-bottom: 1rem;
        gap: 0.5rem;
  
    }

    .form .lblNeighborhoodsCrime {
        font-size: 14px;
        text-align: start;
    }

    .form .errorNeighborhoodsCrime {
        color: red;
        position: absolute;
        font-size: 12px;
    }

    .form .errorNeighborhoodsCrime {
        top: 90%;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .btnAdd,
    .btnReset {
        margin: 1rem 0 0 0;
        font-size: 14px;
        min-width: 9rem;
        width: auto;
        height: 1.9rem;
    }
}
