body {
  margin: 0;
  display: flex;
  place-items: center;
  color: #213547;
  overflow-y: hidden;
  overflow-x: hidden;
}

body input {
  border: 1px solid rgb(228, 227, 227);
  outline: none;
}

body button{
  border: none;
  cursor: pointer;
}

body input:hover,
body input:focus,
body textarea:hover {
  box-shadow: 0px 0px 10px rgba(82, 168, 236, 0.8);
  border-color: rgba(82, 168, 236, 0.8);
  transition: all 0.3s ease-in-out;
}
