.containPolygon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 97%;
}

.containPolygon ul {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    width: 95%;
    gap: 0.4rem;
    color: white;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgb(20, 20, 20);
    border-radius: 5px;
    background: linear-gradient(#2c3d8a, #5a6fcf);
}

.containPolygon ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.containPolygon ul li label {
    font-weight: bold;
    font-size: 15px;
}
.containPolygon ul li img {
    width: 22px;
}

.containPolygon ul li span {
    font-size: 14px;
}

.canvas {
    width: 8rem;
    border-radius: 5px;
    height: 8rem;
    padding: 0.4rem;
    box-shadow: 2px 2px 2px rgb(20, 20, 20);
    background: linear-gradient(#2c3d8a, #5a6fcf);
}
