.containFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.containFilter .notData {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    
}

.containFilter .notData img {
    width: 65px;
    height: 65px;
    opacity: 65%;
}

.containFilter .loading {
    font-weight: bold;
    font-size: 17px;
    margin-top: 2rem;
}

.containFilter .filter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    width: 95%;
}

.containFilter .filter label {
    font-size: 15px;
    font-weight: bold;
}

.containFilter .filter .row {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 99%;
}

.containFilter .filter select {
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.containFilter .filter button {
    width: 4rem;
    height: 1.9rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    background-color: rgb(26, 172, 182);
    color: white;
    border: none;
    cursor: pointer;
}
.containFilter .filter button:hover {
    background-color: rgb(27, 143, 151);
}
