.containPhoto {
    height: auto;
    width: 41%;
    height: 34.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(7, 7, 7);
    background: linear-gradient(#1b2450, #243064);
    font-weight: bold;
    position: relative;
    margin-left: 0.5rem;
    margin-top: 1rem;
    padding: 0.2rem;
}

.mainPhoto {
    width: 95%;
    height: 95%;
}

.noPhotosFound {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.6rem;
}

.noPhotosFound span {
    margin-top: -0.2rem;
}

.noPhotosFound img {
    width: 6rem;
    height: 6rem;
}

.optionWatchPhotos {
    position: absolute;
    height: 93%;
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.optionWatchPhotos button {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    border-top-left-radius: 3px;
    gap: 0.5rem;
    height: 2.3rem;
    box-shadow: none;
    background: rgb(0, 0, 0, 0.8);
    color: white;
}

.optionWatchPhotos button img {
    width: 22px;
    height: 22px;
}
@media (width<=650px) {
    .containPhoto {
        width: 100%;
        height: 41%;
        align-items: start;
        margin: 0;
        padding: 0;
        background: none;
        box-shadow: none;
    }
}

@media (width>650px) and (width<1200px) {
    .containPhoto {
        width: 100%;
        height: 35%;
        align-items: start;
        margin: 0;
        box-shadow: none;
        background: none;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .noPhotosFound {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 0.6rem;
    }

    .noPhotosFound span {
        margin-top: -0.2rem;
    }

    .noPhotosFound img {
        width: 6rem;
        height: 6rem;
    }
}
