.containData {
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(#2e3453, #313e7a);
}

.containData .header {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 100%;
    font-size: 13px;
}

.containData .header .close {
    display: none;
}


.containData .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 99%;
    font-size: 15px;
    color: white;
    border-top: 1px solid #3a4371;
    border-bottom: 1px solid #495488;
    box-shadow: 2px 2px 2px black;
    background: linear-gradient(#2e3453, #313e7a);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.containData .title h3 {
    margin: 0;
}

.containData .title img {
    width: 36px;
    height: 36px;
}

@media (width<=650px) {
    .containData {
        height: 100%;
        background: white;
    }

    .containData .header .close {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 0.7rem;
        margin-right: 0.6rem;
        width: 95%;
        position: absolute;
    }

    .containData .header .close button {
        width: 3rem;
        height: 1.3rem;
        background: linear-gradient(rgb(219, 32, 32), rgb(167, 19, 19));
        box-shadow: none;
        color: white;
        border-left-color: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border: none;
        font-size: 17px;
        cursor: pointer;
    }

    .containData .header .close button img {
        width: 15px;
        height: 15px;
    }

    .containData .title {
        color: black;
        box-shadow: none;
        margin-top: 2.3rem;
        font-size: 13px;
        background: rgb(243, 243, 243);
        border: none;
    }

    .containData .title img {
        width: 27px;
        height: 27px;
    }
}

@media (width>650px) and (width<1200px) {
    .containData {
        height: auto;
        overflow-y: visible;
        background: white;
    }


    .containData .header .close {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 0.7rem;
        margin-right: 0.6rem;
        width: 95%;
        position: absolute;
    }

    .containData .header .close button {
        width: 3rem;
        height: 1.3rem;
        background: linear-gradient(rgb(219, 32, 32), rgb(167, 19, 19));
        box-shadow: none;
        color: white;
        border-left-color: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border: none;
        font-size: 17px;
        cursor: pointer;
    }

    .containData .header .close button img {
        width: 15px;
        height: 15px;
    }

    .containData .title {
        width: 98%;
        margin-top: 2.3rem;
        font-size: 15px;
        color: black;
        background: rgb(243, 243, 243);
        box-shadow: none;
        border: none;
    }

    .containData .title img {
        width: 29px;
        height: 29px;
    }
}