.formAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    margin-top: 1rem;
}

.formAdd .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.formAdd input {
    height: 2.1rem;
    width: 15.5rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 15px;
    outline: none;
}

.formAdd label {
    font-weight: bold;
    font-size: 15px;
    width: 16rem;
    text-align: start;
}
.formAdd p {
    color: red;
    position: absolute;
    top: 3rem;
    font-size: 14px;
}

.formAdd .add,
.formAdd .addDisabled {
    background: rgb(34, 207, 63);
    border-radius: 5px;
    box-shadow: none;
    width: 16rem;
    height: 2rem;
    color: white;
    margin: 1rem 0 0 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.formAdd .addDisabled {
    opacity: 84%;
    cursor: alias;
}
.formAdd .add:hover {
    background: rgb(41, 167, 25);
}
.formAdd .addDisabled:hover {
    background: rgb(34, 207, 63);
}

@media (width<650px) {
    .formAdd input {
        height: 2.5rem;
        width: 17rem;
        padding-left: 0.5rem;
        border-radius: 3px;
        border: 1px solid rgb(211, 211, 211);
        font-size: 15px;
        outline: none;
    }

    .formAdd p {
        color: red;
        position: absolute;
        top: 3.7rem;
        font-size: 12px;
    }
}

@media (width>650px) and (width<1200px) {
    .formAdd p {
        color: red;
        position: absolute;
        top: 3.3rem;
        font-size: 13px;
    }
}
