.containGeolocation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 0.7rem;
}

.containGeolocation button {
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.containGeolocation button img {
    width: 29px;
    height: 29px;
}

.containGeolocation .hideLoading {
    display: none;
}
.containGeolocation .loading {
    padding: 0.7rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(65, 65, 65, 0.507);
}
