.containDetailsStreet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 8rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 5px;
}
