.containDetailsStreet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;
    width: 21rem;
    height: 7rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgb(230, 230, 230);
    border: 1px solid rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.containDetailsStreet .close {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 97%;
    font-size: 16px;
    position: absolute;
}

.containDetailsStreet span {
    margin-top: 0.4rem;
    font-size: 18px;
    color: rgb(146, 146, 146);
    cursor: pointer;
}
.containDetailsStreet span:hover {
    color: rgb(61, 61, 61);
}

.containDetailsStreet .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin-top: 2rem;
}

.containDetailsStreet .column h3 {
    margin: 0;
    font-size: 14px;
}

.containDetailsStreet .column p {
    width: 99%;
    margin: 0;
    font-size: 12px;
}

.containDetailsStreet .column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 76%;
}
