.formAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.formAdd .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.formAdd input,
.formAdd textarea {
    height: 2.1rem;
    width: 16rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(201, 201, 201);
    font-size: 15px;
    outline: none;
}

.formAdd textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 12rem;
    width: 33rem;
    padding: 0.5rem 0 0 0.5rem;
    resize: none;
}

.formAdd label {
    font-weight: bold;
    font-size: 15px;
    width: 16rem;
    text-align: start;
}
.formAdd p,
.formAdd .errorDescription {
    color: red;
    position: absolute;
    top: 3rem;
    font-size: 14px;
}

.formAdd .errorDescription {
    top: 96%;
}

.formAdd .add {
    background: rgb(34, 207, 63);
    border-radius: 5px;
    box-shadow: none;
    width: 16rem;
    height: 2rem;
    color: white;
    margin: 2rem 0 0 0;
    font-size: 15px;
    font-weight: bold;
}
.formAdd .add:hover {
    background: rgb(30, 184, 55);
}

@media (width<650px) {
    .formAdd input,
    .formAdd textarea {
        height: 2.5rem;
        width: 16rem;
    }

    .formAdd textarea {
        height: 15rem;
        width: 100%;
    }

    .formAdd p,
    .formAdd .errorDescription {
        color: red;
        position: absolute;
        top: 3.7rem;
        font-size: 12px;
    }

    .formAdd .errorDescription {
        top: 96%;
    }
}

@media (width>650px) and (width<1200px) {
    .formAdd {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .formAdd .columnInput {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
        position: relative;
    }

    .formAdd input,
    .formAdd textarea {
        height: 2.1rem;
        width: 16rem;
        padding-left: 0.5rem;
        border-radius: 3px;
        border: 1px solid rgb(201, 201, 201);
        font-size: 15px;
        outline: none;
    }

    .formAdd textarea {
        font-family: Arial, Helvetica, sans-serif;
        height: 12rem;
        width: 100%;
        padding: 0.5rem 0 0 0.5rem;
        resize: none;
    }

    .formAdd label {
        font-weight: bold;
        font-size: 15px;
        width: 16rem;
        text-align: start;
    }
    .formAdd p,
    .formAdd .errorDescription {
        color: red;
        position: absolute;
        top: 3.2rem;
        font-size: 13px;
    }

    .formAdd .errorDescription {
        top: 96%;
    }

    .formAdd .add {
        background: rgb(34, 207, 63);
        border-radius: 5px;
        box-shadow: none;
        width: 16rem;
        height: 2rem;
        color: white;
        margin: 2rem 0 0 0;
        font-size: 15px;
        font-weight: bold;
    }
    .formAdd .add:hover {
        background: rgb(30, 184, 55);
    }
}
