tbody td {
    padding: 0.3rem;
    font-size: 15px;
}
tbody .trGray {
    background: rgb(236, 236, 236);
}

tbody .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
tbody .options button {
    width: 2.5rem;
    height: 2.3rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody .options button img {
    width: 21px;
    height: 21px;
}
tbody .options .delete {
    background: rgb(216, 10, 10);
}

tbody .options .edit {
    background: rgb(10, 123, 216);
}

tbody .options .population {
    background: rgb(10, 178, 190);
}
tbody .options .population img {
    width: 26px;
    height: 26px;
}
