.geolocation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.geolocation li {
    width: 6rem;
    height: 1.8rem;
    background: rgba(70, 70, 70, 0.911);
    border-radius: 5px;
    margin-bottom: 1.6rem;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geolocation button {
    width: 2.3rem;
    height: 2.3rem;
    background: linear-gradient(#4758aa, #313e7a);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 1.7rem;
    margin-right: 0.7rem;
    cursor: pointer;
}

.geolocation button img {
    width: 20px;
    height: 20px;
}

@media (width<=650px) {
    .geolocation button {
        width: 2.4rem;
        height: 2.4rem;
        background: linear-gradient(#4758aa, #313e7a);
    }
}
