.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 13px;
    width: 98%;
    padding: 0.5rem;
    background: linear-gradient(#1b2450, #243064);
    box-shadow: 2px 2px 2px rgb(7, 7, 7);
}

.about .stars {
    width: 81px;
    height: 18px;
}

.about .row,
.about .rowTwo,
.about .rowTwo .data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.about .rowTwo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 98%;
}

.about .wheelchair {
    width: 14px;
    height: 14px;
}

.about .rowTwo .data {
    justify-content: start;
    width: 85%;
    gap: 0.3rem;
}

@media (width<=650px) {
    .about {
        background: none;
        box-shadow: none;
        background: none;
        background: #17214d;
        border-radius: 5px;
    }
}
