.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 13px;
    width: 98%;
    box-shadow: 2px 2px 2px rgb(37, 37, 37);
    background-color: #272b3a;
    padding: 0.5rem;
}

.about .stars {
    width: 81px;
    height: 18px;
}

.about .row,
.about .rowTwo,
.about .rowTwo .data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.about .rowTwo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 98%;
}

.about .wheelchair {
    width: 14px;
    height: 14px;
}

.about .rowTwo .data {
    justify-content: start;
    width: 85%;
    gap: 0.3rem;
}
