.detailOpeningHours {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    width: 99%;
    margin-top: -1rem;
}

.detailOpeningHours .clock {
    width: 22px;
    height: 22px;
    margin-left: 0.1rem;
    opacity: 75%;
    background: url("../../../../assets/img/clockMobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.row {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.detailOpeningHours .state {
    display: flex;
    justify-content: start;
    gap: 1rem;
    width: auto;
    align-items: center;
}

.detailOpeningHours .close {
    color: red;
    font-weight: bold;
}

.detailOpeningHours .open {
    color: rgb(40, 211, 63);
    font-weight: bold;
}

.detailOpeningHours .optionMenuDays,
.detailOpeningHours .openedOptionMenuDays {
    background-image: url("../../../../assets/img/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 65%;
    height: 13px;
    width: 13px;
    transform: rotate(180deg);
    cursor: pointer;
}

.detailOpeningHours .openedOptionMenuDays {
    transform: rotate(0deg);
    background-image: url("../../../../assets/img/arrow.png");
}

@media (width<1200px) {
    .row {
        font-size: 15px;
    }

    .detailOpeningHours .optionMenuDays,
    .detailOpeningHours .openedOptionMenuDays {
        background-image: url("../../../../assets/img/arrowMobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 75%;
        height: 1.3rem;
        width: 1.3rem;
        transform: rotate(180deg);
        cursor: pointer;
    }

    .detailOpeningHours .openedOptionMenuDays {
        transform: rotate(0deg);
        background-image: url("../../../../assets/img/arrowMobile.png");
    }
    .detailOpeningHours .clock {
        width: 24px;
        height: 24px;
        background: url("../../../../assets/img/clockMobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
    }
}
