.detailOpeningHours {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    width: 99%;
    margin-top: -1rem;
}

.detailOpeningHours .iconInfo {
    width: 25px;
    height: 25px;
    margin-left: 0.1rem;
    opacity: 75%;
}

.row {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.detailOpeningHours .state {
    display: flex;
    justify-content: start;
    gap: 1rem;
    width: auto;
    align-items: center;
}

.detailOpeningHours .state .boxIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailOpeningHours .close {
    color: red;
    font-weight: bold;
}

.detailOpeningHours .open {
    color: rgb(40, 211, 63);
    font-weight: bold;
}

.detailOpeningHours .optionMenuDays,
.detailOpeningHours .openedOptionMenuDays {
    opacity: 65%;
    height: 13px;
    width: 13px;
    transform: rotate(180deg);
    cursor: pointer;
}

.detailOpeningHours .openedOptionMenuDays {
    transform: rotate(0deg);
}

@media (width<=650px) {
    .row {
        font-size: 15px;
    }
}
