.columnInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    gap: 0.5rem;
    width: 99%;
}

.columnInput input {
    width: 72%;
    height: 2rem;
    padding-right: 2.3rem;
    border: 1px solid #ccc;
    outline: none;
}
.columnInput input:hover {
    border: 2px solid #8490da;
}

.columnInput label {
    width: 85%;
    font-size: 15px;
}

.columnInput .containerRegex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 0.5rem;
    width: 82%;
}

.columnInput p {
    color: red;
    position: absolute;
    top: 3.2rem;
    width: 82%;
}

.columnInput .containerRegex p {
    width: auto;
    color: rgb(33, 33, 51);
    font-size: 13px;
    margin: 0;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.columnInput .containerRegex .invalid {
    color: red;
}

.columnInput .containerRegex .invalid img {
    width: 13px;
    height: 13px;
}

.columnInput .containerRegex .valid {
    color: rgb(52, 204, 38);
}

.columnInput .containerRegex .valid img {
    width: 15px;
    height: 15px;
}

.btnPassword {
    position: absolute;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0;
    right: 1.8rem;
    top: 1.9rem;
}
.btnPassword img {
    width: 22px;
    height: 22px;
}
