.columnInputPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    gap: 0.5rem;
    width: 77%;
}

.columnInputPassword input {
    width: 89%;
    height: 2.2rem;
    padding: 0 2rem 0 0.5rem;
    border: 1px solid #ccc;
    outline: none;
}
.columnInputPassword input:hover {
    border: 2px solid #8490da;
}

.columnInputPassword label {
    width: 99%;
    font-size: 15px;
}

.columnInputPassword .containerRegex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 0.5rem;
    width: 99%;
}

.columnInputPassword p {
    color: red;
    position: absolute;
    top: 3.2rem;
    font-size: 13px;
    width: 99%;
}

.columnInputPassword .containerRegex p {
    width: auto;
    color: rgb(33, 33, 51);
    font-size: 13px;
    margin: 0;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.columnInputPassword .containerRegex .invalid {
    color: red;
}

.columnInputPassword .containerRegex .invalid img {
    width: 13px;
    height: 13px;
}

.columnInputPassword .containerRegex .valid {
    color: rgb(52, 204, 38);
}

.columnInputPassword .containerRegex .valid img {
    width: 15px;
    height: 15px;
}

.btnPassword {
    position: absolute;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0;
    right: 0;
    top: 1.9rem;
}
.btnPassword img {
    width: 21px;
    height: 21px;
}

@media (width<650px) {
    .columnInputPassword {
        width: 77%;
    }

    .columnInputPassword input {
        width: 89%;
        height: 2.3rem;
    }
}

@media (width>650px) and (width<1200px) {
    .columnInputPassword {
        gap: 0.5rem;
        width: 77%;
    }

    .columnInputPassword input {
        width: 95%;
        height: 2.6rem;
        padding: 0 2rem 0 0.5rem;
        border: 1px solid #ccc;
        outline: none;
    }
    .columnInputPassword input:hover {
        border: 2px solid #8490da;
    }

    .columnInputPassword p {
        top: 3.6rem;
        font-size: 13px;
        width: 99%;
    }
    .btnPassword {
        top: 2.2rem;
    }
}
