.menuOptions {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.2rem;
    margin: 0 1vw 1vh 0;
}

.menuOptions .containBtn,
.menuOptions .containBtnEditRoute {
    background: linear-gradient(rgb(240, 240, 240), rgb(207, 207, 207));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    box-shadow: 2px 2px 2px gray;
    border-radius: 99px;
}

.menuOptions .containBtn:hover,
.menuOptions .containBtnEditRoute:hover {
    box-shadow: none;
}

.menuOptions button,
.menuOptions .btnEditRoute {
    background: linear-gradient(rgb(188, 216, 229), rgb(255, 255, 255));
    width: 88%;
    height: 86%;
    margin: 0;
    border: none;
    text-align: center;
    border-radius: 99px;
}
.menuOptions .btnEditRoute {
    height: 88%;
}

.menuOptions button img {
    width: 25px;
    height: 25px;
}

.menuOptions .btnEditRoute img {
    width: 31px;
    height: 31px;
}

.menuOptions .exit img {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}

@media (width<=650px) {
    .menuOptions {
        margin: 0 2vw 1vh 0;
    }

    .menuOptions .containBtn:hover,
    .menuOptions .containBtnEditRoute:hover {
        box-shadow: none;
    }
}

@media (width>650px) and (width<1200px) {
    .menuOptions {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.2rem;
        margin: 0 1vw 3vh 0;
    }

    .menuOptions .containBtn,
    .menuOptions .containBtnEditRoute {
        background: linear-gradient(rgb(240, 240, 240), rgb(207, 207, 207));
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.4rem;
        height: 3.4rem;
        box-shadow: 2px 2px 2px gray;
        border-radius: 99px;
    }

    .menuOptions .containBtn:hover,
    .menuOptions .containBtnEditRoute:hover {
        box-shadow: none;
    }

    .menuOptions button,
    .menuOptions .btnEditRoute {
        background: linear-gradient(rgb(188, 216, 229), rgb(255, 255, 255));
        width: 88%;
        height: 86%;
        margin: 0;
        border: none;
        text-align: center;
        border-radius: 99px;
    }
    .menuOptions .btnEditRoute {
        height: 88%;
    }

    .menuOptions button img {
        width: 25px;
        height: 25px;
    }

    .menuOptions .btnEditRoute img {
        width: 31px;
        height: 31px;
    }

    .menuOptions .exit img {
        width: 24px;
        height: 24px;
        transform: rotate(180deg);
    }
}
