.containAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin-top: 1rem;
}

.containAdd .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position: relative;
}

.containAdd input {
    height: 2.1rem;
    width: 16rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(209, 209, 209);
    font-size: 15px;
    outline: none;
}

.containAdd label {
    font-weight: bold;
    font-size: 15px;
    width: 16rem;
    text-align: start;
}
.containAdd p {
    color: red;
    position: absolute;
    top: 3.2rem;
    font-size: 13px;
}

.containAdd span {
    font-size: 17px;
}

.containAdd .columnInput select {
    width: 16.5rem;
    height: 2.3rem;
    border-radius: 3px;
    border: 1px solid rgb(209, 209, 209);
    background: linear-gradient(rgb(236, 236, 236), rgb(219, 219, 219));
    font-size: 15px;
    outline: none;
}

@media (width<650px) {
    .containAdd input {
        height: 2.5rem;
    }

    .containAdd p {
        color: red;
        position: absolute;
        top: 3.8rem;
        font-size: 12px;
    }

    .containAdd .columnInput select {
        width: 16.5rem;
        height: 2.8rem;
    }
}
