.menuOptionsCrimes {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
    height: 8vh;
    background: linear-gradient(#2e3453, #313e7a);
    color: white;
    padding: 0;
    padding-top: 0.5rem;
    margin-top: 0;
    list-style: none;
}

.menuOptionsCrimes li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    font-size: 12px;
    gap: 0.3rem;
    height: 91%;
    cursor: pointer;
    color: white;
}

.menuOptionsCrimes .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.6rem;
    margin-left: 0.8rem;
    font-size: 13px;
    width: 79vw;
}

.menuOptionsCrimes .logo .containIconLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 35px;
}

.menuOptionsCrimes .logo img {
    width: 41px;
    height: 41px;
}

.menuOptionsCrimes .holdup,
.menuOptionsCrimes .theft,
.menuOptionsCrimes .kill {
    background-image: url("../../../../../assets/img/holdupMobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.menuOptionsCrimes .theft {
    background-image: url("../../../../../assets/img/theftMobile.png");
}

.menuOptionsCrimes .kill {
    background-image: url("../../../../../assets/img/killMobile.png");
}

.menuOptionsCrimes li:hover,
.menuOptionsCrimes .selected {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.menuOptionsCrimes .logo:hover {
    border: none;
    cursor: auto;
}

.menuOptionsCrimes li div {
    width: 21px;
    height: 21px;
}

@media (width<=650px) {
    .menuOptionsCrimes {
        z-index: 8;
        top: 86vh;
        right: 0;
        gap: 0.8rem;
        width: 100vw;
        height: 6vh;
        padding: 0.2rem 0 0.2rem 0;
        margin: 0;
        background: linear-gradient(#3e54b3, #1d2e7c);
    }

    .menuOptionsCrimes .logo {
        display: none;
    }

    .menuOptionsCrimes li {
        flex-direction: column;
        font-size: 11px;
        width: 99%;
        height: 99%;
        opacity: 75%;
    }

    .menuOptionsCrimes li div {
        width: 22px;
        height: 22px;
    }

    .menuOptionsCrimes li:hover,
    .menuOptionsCrimes .selected {
        border-bottom: 0;
    }

    .menuOptionsCrimes .holdup,
    .menuOptionsCrimes .theft,
    .menuOptionsCrimes .kill {
        background-image: url("../../../../../assets/img/holdupMobile.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-blend-mode: color;
    }

    .menuOptionsCrimes .theft {
        background-image: url("../../../../../assets/img/theftMobile.png");
    }

    .menuOptionsCrimes .kill {
        background-image: url("../../../../../assets/img/killMobile.png");
    }
}

@media (width>650px) and (width<1200px) {
    .menuOptionsCrimes {
        z-index: 8;
        left: 0;
        width: 9vw;
        height: 84vh;
        padding: 0;
        margin: 0;
        flex-direction: column;
        background: linear-gradient(#3e54b3, #1d2e7c);
    }

    .menuOptionsCrimes .logo {
        display: none;
    }

    .menuOptionsCrimes li:hover,
    .menuOptionsCrimes .selected {
        border-bottom: none;
        opacity: 100%;
    }

    .menuOptionsCrimes li {
        flex-direction: column;
        font-size: 11px;
        height: 100%;
        opacity: 75%;
    }

    .menuOptionsCrimes li div {
        width: 22px;
        height: 22px;
    }

    .menuOptionsCrimes .holdup,
    .menuOptionsCrimes .theft,
    .menuOptionsCrimes .kill {
        background-image: url("../../../../../assets/img/holdupMobile.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .menuOptionsCrimes .theft {
        background-image: url("../../../../../assets/img/theftMobile.png");
    }

    .menuOptionsCrimes .kill {
        background-image: url("../../../../../assets/img/killMobile.png");
    }
}

@media (width>=1000px) and (width<1200px) {
    .menuOptionsCrimes {
        z-index: 8;
        left: 0;
        width: 8vw;
        height: 84vh;
        padding: 0.7rem 0 0.2rem 0;
        margin: 0;
        flex-direction: column;
        background: linear-gradient(#3e54b3, #1d2e7c);
    }

    .menuOptionsCrimes li {
        flex-direction: column;
        height: 6rem;
        font-size: 13px;
        opacity: 75%;
    }

    .menuOptionsCrimes li:hover,
    .menuOptionsCrimes .selected {
        border-bottom: none;
        opacity: 100%;
    }

    .menuOptionsCrimes .holdup,
    .menuOptionsCrimes .theft,
    .menuOptionsCrimes .kill {
        background-image: url("../../../../../assets/img/holdupMobile.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .menuOptionsCrimes .theft {
        background-image: url("../../../../../assets/img/theftMobile.png");
    }

    .menuOptionsCrimes .kill {
        background-image: url("../../../../../assets/img/killMobile.png");
    }

    .menuOptionsCrimes li div {
        width: 31px;
        height: 31px;
    }
}